openapi: 3.0.0
info:
  title: Telnyx API
  description: "SIP trunking, SMS, MMS, Call Control and Telephony Data Services."
  contact:
    email: support@telnyx.com
  license:
    name: MIT
  version: 2.0.0
  x-endpoint-cost: light
servers:
- url: https://api.telnyx.com/v2
  description: Version 2.0.0 of the Telnyx API
security:
- bearerAuth: []
tags:
- name: Access Tokens
  description: Access Tokens creation
- name: Addresses
  description: Address operations
- name: Billing
  description: Billing operations
- name: Billing Groups
  description: Billing groups operations
- name: Bulk Credentials
  description: Bulk operations over Credentials
- name: Call Commands
  description: Call Control command operations
- name: Call Control Applications
  description: Call Control applications operations
- name: Call Information
  description: Call information
- name: Conference Commands
  description: Conference command operations
- name: Connections
  description: Connections operations
- name: Credential Connections
  description: Credential connection operations
- name: Credentials
  description: Credentials operations
- name: Debugging
  description: Call Control debugging
- name: Documents
  description: Documents
- name: FQDN Connections
  description: FQDN connection operations
- name: FQDNs
  description: FQDN operations
- name: IP Connections
  description: IP connection operations
- name: IPs
  description: IP operations
- name: Inbound Channels
  description: Inbound channels operations
- name: Managed Accounts
  description: Managed Accounts operations
- name: Messages
  description: Messages
- name: Messaging Hosted Number
  description: Manage your messaging hosted numbers
- name: Messaging Profiles
  description: Messaging profiles
- name: Messaging URL Domains
  description: Messaging URL Domains
- name: Mobile Operator Networks
  description: Mobile operator networks operations
- name: Notifications
  description: Notification settings operations
- name: Number Background Jobs
  description: Background jobs performed over a batch of phone numbers
- name: Number Configurations
  description: Configure your phone numbers
- name: Number Lookup
  description: Look up phone number data
- name: Number Order Documents
  description: Number order documents
- name: Number Order Regulatory Requirements
  description: Number order regulatory requirements
- name: Number Orders
  description: Number orders
- name: Number Portout
  description: Number portout operations
- name: Number Reservations
  description: Number reservations
- name: Number Search
  description: Number search
- name: OTA updates
  description: OTA updates operations
- name: Outbound Voice Profiles
  description: Outbound voice profiles operations
- name: Phone Number Porting
  description: Determining portability of phone numbers
- name: Porting Order
  description: Porting Order operation
- name: Private Wireless Gateways
  description: Private Wireless Gateways operations
- name: Programmable Fax Applications
  description: Fax Applications operations
- name: Programmable Fax Commands
  description: Programmable fax command operations
- name: Recordings Commands
  description: Recordings commands operations
- name: Reporting
  description: Wireless reporting operations
- name: Rooms
  description: Rooms operations.
- name: Rooms Access Tokens
  description: Rooms Access Tokens operations.
- name: SIM Card Groups
  description: SIM Card Groups operations
- name: SIM Cards
  description: SIM Cards operations
- name: Short Codes
  description: Short codes
- name: TeXML Applications
  description: TeXML Applications operations
- name: Verify
  description: Two factor authentication API
- name: Webhooks
  description: Webhooks operations
- name: WhatsApp Contacts
  description: WhatsApp contacts
- name: WhatsApp Media
  description: WhatsApp media files
- name: WhatsApp Messages
  description: WhatsApp messages
- name: WhatsApp Users
  description: WhatsApp user info
- name: Wireless
  description: Wireless operations
paths:
  /actions/bulk/telephony_credentials:
    post:
      tags:
      - Bulk Credentials
      summary: Creates several credentials
      description: Creates several credentials in bulk.
      operationId: CreateBulkTelephonyCredential
      parameters: []
      requestBody:
        description: Requested parameters to create credentials on bulk
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkCredentialRequest'
        required: true
      responses:
        "201":
          description: Successful response for Bulk credential requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_201'
        "422":
          description: Bad request
      x-latency-category: responsive
    delete:
      tags:
      - Bulk Credentials
      summary: Delete several credentials
      description: Delete several credentials in bulk.
      operationId: DeleteBulkTelephonyCredential
      parameters:
      - name: "filter[tag]"
        in: query
        description: "Filter by tag, required by bulk operations."
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        "201":
          description: Successful response for Bulk credential requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_201'
        "422":
          description: Bad request
      x-latency-category: responsive
    patch:
      tags:
      - Bulk Credentials
      summary: Update several credentials
      description: Update several credentials in bulk.
      operationId: UpdateBulkTelephonyCredential
      parameters:
      - name: "filter[tag]"
        in: query
        description: "Filter by tag, required by bulk operations."
        required: true
        style: form
        explode: true
        schema:
          type: string
      requestBody:
        description: Parameters to update credentials on bulk
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkCredentialRequest'
        required: true
      responses:
        "201":
          description: Successful response for Bulk credential requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_201'
        "422":
          description: Bad request
      x-latency-category: responsive
  /actions/network_preferences/sim_cards:
    put:
      tags:
      - SIM Cards
      summary: Bulk Network Preferences for SIM cards
      description: "This API allows dispatching the same operation described for the\
        \ PUT sim_cards/:sim_card_id/network_preferences API for multiple SIM cards\
        \ at once.<br/><br/>\nAlthough, a SIM card network preference may fail individually\
        \ under any validation triggered as a consequence of its state. For example,\
        \ a SIM can't have an in-progress OTA update for applying a Network Preference,\
        \ so they'll fail when requested in this API. In that scenario, the specific\
        \ error will be present in the response along with the successful definitions\
        \ in the \"errors\" response node.\n"
      operationId: BulkSIMCardNetworkPreferences
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/body'
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_202'
        "422":
          description: Unprocessable entity. Check the 'detail' field in response
            for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
      x-latency-category: background
  /actions/register/sim_cards:
    post:
      tags:
      - SIM Cards
      summary: Register SIM cards
      description: "Register the SIM cards associated with the provided registration\
        \ codes to the current user's account.<br/><br/>\nIf <code>sim_card_group_id</code>\
        \ is provided, the SIM cards will be associated with that group. Otherwise,\
        \ the default group for the current user will be used.<br/><br/>\n"
      operationId: SimCardRegister
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SIMCardRegistration'
        required: true
      responses:
        "202":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_202_1'
      x-latency-category: background
  /actions/{action}/telephony_credentials:
    post:
      tags:
      - Bulk Credentials
      summary: Perform activate or deactivate action on all credentials filtered by
        the provided tag.
      description: "Perform activate or deactivate action on all credentials filtered\
        \ by the provided tag. Activate action will change the status to active, making\
        \ it possible to connect calls with the credential. Deactivate action will\
        \ change the status to inactive, making it impossible to connect calls with\
        \ the credential."
      operationId: BulkCredentialAction
      parameters:
      - name: action
        in: path
        description: Identifies the action to be taken. Activate will change the status
          to active. Deactivate will change the status to inactive.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          enum:
          - activate
          - deactivate
      - name: "filter[tag]"
        in: query
        description: "Filter by tag, required by bulk operations."
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Successful response for Bulk credential requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_201'
        "401":
          description: Unauthorized
        "404":
          description: Resource not found
        "422":
          description: Bad request
      x-latency-category: responsive
  /addresses:
    get:
      tags:
      - Addresses
      summary: List all addresses
      description: Returns a list of your addresses.
      operationId: findAddresss
      parameters:
      - name: "page[number]"
        in: query
        description: The page number to load
        required: false
        style: form
        explode: true
        schema:
          minimum: 1
          type: integer
          default: 1
      - name: "page[size]"
        in: query
        description: The size of the page
        required: false
        style: form
        explode: true
        schema:
          maximum: 250
          minimum: 1
          type: integer
          default: 20
      - name: "filter[customer_reference][eq]"
        in: query
        description: Filter addresses via the customer reference set. Matching is
          not case-sensitive.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: "filter[customer_reference][contains]"
        in: query
        description: "If present, addresses with <code>customer_reference</code> containing\
          \ the given value will be returned. Matching is not case-sensitive."
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: "filter[used_as_emergency]"
        in: query
        description: "If set as 'true', only addresses used as the emergency address\
          \ for at least one active phone-number will be returned. When set to 'false',\
          \ the opposite happens: only addresses not used as the emergency address\
          \ from phone-numbers will be returned."
        required: false
        style: form
        explode: true
        schema:
          type: string
          default: "null"
      - name: "filter[street_address][contains]"
        in: query
        description: "If present, addresses with <code>street_address</code> containing\
          \ the given value will be returned. Matching is not case-sensitive. Requires\
          \ at least three characters."
        required: false
        style: form
        explode: true
        schema:
          type: string
          default: "null"
      - name: "filter[address_book][eq]"
        in: query
        description: "If present, only returns results with the <code>address_book</code>\
          \ flag set to the given value."
        required: false
        style: form
        explode: true
        schema:
          type: string
          default: "null"
      - name: sort
        in: query
        description: "Specifies the sort order for results. By default sorting direction\
          \ is ascending. To have the results sorted in descending order add the <code>\
          \ -</code> prefix.<br/><br/>\nThat is: <ul>\n  <li>\n    <code>street_address</code>:\
          \ sorts the result by the\n    <code>street_address</code> field in ascending\
          \ order.\n  </li>\n\n  <li>\n    <code>-street_address</code>: sorts the\
          \ result by the\n    <code>street_address</code> field in descending order.\n\
          \  </li>\n</ul> <br/> If not given, results are sorted by <code>created_at</code>\
          \ in descending order."
        required: false
        style: form
        explode: true
        schema:
          type: string
          example: street_address
          enum:
          - created_at
          - first_name
          - last_name
          - business_name
          - street_address
          default: created_at
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200'
        "400":
          description: Bad request
        "401":
          description: Unauthorized
        "404":
          description: Resource not found
      x-endpoint-cost: medium
      x-latency-category: responsive
    post:
      tags:
      - Addresses
      summary: Creates an address
      description: Creates an address.
      operationId: CreateAddress
      parameters: []
      requestBody:
        description: Parameters that can be defined during address creation
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddressCreate'
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_1'
        "422":
          description: Bad request
      x-endpoint-cost: medium
      x-latency-category: responsive
  /addresses/actions/validate:
    post:
      tags:
      - Addresses
      summary: Validate an address
      description: Validates an address for emergency services.
      operationId: validateAddress
      parameters: []
      requestBody:
        description: Parameters that can be defined during address validation
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValidateAddressRequest'
        required: true
      responses:
        "200":
          description: Action response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Validate address action response'
        "422":
          description: Bad request
      x-latency-category: responsive
  /addresses/{id}:
    get:
      tags:
      - Addresses
      summary: Retrieve an address
      description: Retrieves the details of an existing address.
      operationId: getAddress
      parameters:
      - name: id
        in: path
        description: address ID
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_1'
        "401":
          description: Unauthorized
        "404":
          description: Resource not found
        "422":
          description: Bad request
      x-latency-category: responsive
    delete:
      tags:
      - Addresses
      summary: Deletes an address
      description: Deletes an existing address.
      operationId: DeleteAddress
      parameters:
      - name: id
        in: path
        description: address ID
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_1'
        "401":
          description: Unauthorized
        "404":
          description: Resource not found
        "422":
          description: Bad request
      x-latency-category: responsive
  /available_phone_numbers:
    get:
      tags:
      - Number Search
      summary: List available phone numbers
      operationId: listAvailablePhoneNumbers
      parameters:
      - name: "filter[phone_number][starts_with]"
        in: query
        description: Filter numbers starting with a pattern (meant to be used after
          `national_destination_code` filter has been set).
        required: false
        style: form
        explode: true
        schema:
          type: string
        examples:
          generic:
            summary: Find numbers starting with the prefix 'FREE'
            value: FOO
      - name: "filter[phone_number][ends_with]"
        in: query
        description: Filter numbers ending with a pattern.
        required: false
        style: form
        explode: true
        schema:
          type: string
        examples:
          generic:
            summary: Find numbers ending with the suffix 'CALL'
            value: CALL
      - name: "filter[phone_number][contains]"
        in: query
        description: Filter numbers containing a pattern.
        required: false
        style: form
        explode: true
        schema:
          type: string
        examples:
          generic:
            summary: Find numbers that contain the word 'TELNYX' in any position
            value: TELNYX
      - name: "filter[locality]"
        in: query
        description: Filter phone numbers by city.
        required: false
        style: form
        explode: true
        schema:
          type: string
        examples:
          AU:
            value: Canberra
          CA:
            value: Toronto
          US:
            value: Chicago
      - name: "filter[administrative_area]"
        in: query
        description: Filter phone numbers by US state/CA province.
        required: false
        style: form
        explode: true
        schema:
          type: string
          example: IL
      - name: "filter[country_code]"
        in: query
        description: Filter phone numbers by ISO alpha-2 country code.
        required: false
        style: form
        explode: true
        schema:
          type: string
          example: US
      - name: "filter[national_destination_code]"
        in: query
        description: Filter by the national destination code of the number. This filter
          is only applicable to North American numbers.
        required: false
        style: form
        explode: true
        schema:
          type: string
        examples:
          AU:
            value: "0251"
          CA:
            value: "437"
          US:
            value: "312"
      - name: "filter[rate_center]"
        in: query
        description: Filter phone numbers by NANP rate center. This filter is only
          applicable to North American numbers.
        required: false
        style: form
        explode: true
        schema:
          type: string
          example: CHICAGO HEIGHTS
      - name: "filter[number_type]"
        in: query
        description: Filter phone numbers by number type.
        required: false
        style: form
        explode: true
        schema:
          type: string
          example: toll-free
          enum:
          - toll-free
      - name: "filter[features]"
        in: query
        description: "Filter if the phone number should be used for voice, fax, mms,\
          \ sms, emergency."
        required: false
        style: form
        explode: true
        schema:
          type: array
          example: "voice,sms"
          items:
            type: string
            enum:
            - sms
            - mms
            - voice
            - fax
            - emergency
      - name: "filter[limit]"
        in: query
        description: Limits the number of results.
        required: false
        style: form
        explode: true
        schema:
          type: integer
          example: 100
      - name: "filter[best_effort]"
        in: query
        description: Filter to determine if best effort results should be included.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          example: false
      - name: "filter[quickship]"
        in: query
        description: Filter to exclude phone numbers that need additional time after
          to purchase to receive phone calls.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          example: true
      - name: "filter[reservable]"
        in: query
        description: Filter to exclude phone numbers that cannot be reserved before
          purchase.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          example: true
      - name: "filter[exclude_held_numbers]"
        in: query
        description: Filter to exclude phone numbers that are currently on hold for
          your account.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          example: false
      responses:
        "200":
          description: Successful response with a list of available phone numbers.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/List Available Phone Numbers Response'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
      x-endpoint-cost: heavy
      x-group-parameters: "true"
      x-latency-category: responsive
  /balance:
    get:
      tags:
      - Billing
      summary: Retrieve user balance details
      operationId: getUserBalance
      responses:
        "200":
          description: Retrieve user balance details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_2'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
      x-latency-category: responsive
  /billing_groups:
    get:
      tags:
      - Billing Groups
      summary: List all billing groups
      operationId: listBillingGroups
      parameters:
      - name: "page[number]"
        in: query
        description: The page number to load
        required: false
        style: form
        explode: true
        schema:
          minimum: 1
          type: integer
          default: 1
      - name: "page[size]"
        in: query
        description: The size of the page
        required: false
        style: form
        explode: true
        schema:
          maximum: 250
          minimum: 1
          type: integer
          default: 20
      responses:
        "200":
          description: A paginated array of billing groups
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_3'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
      x-latency-category: responsive
    post:
      tags:
      - Billing Groups
      summary: Create a billing group
      operationId: createBillingGroup
      requestBody:
        description: New billing group object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewBillingGroup'
        required: true
      responses:
        "200":
          description: Expected billing group response to a valid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_4'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
      x-latency-category: responsive
  /billing_groups/{id}:
    get:
      tags:
      - Billing Groups
      summary: Retrieve a billing group
      operationId: retrieveBillingGroup
      parameters:
      - name: id
        in: path
        description: The id of the billing group
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      responses:
        "200":
          description: Expected billing group response to a valid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_4'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
      x-latency-category: responsive
    delete:
      tags:
      - Billing Groups
      summary: Delete a billing group
      operationId: deleteBillingGroup
      parameters:
      - name: id
        in: path
        description: The id of the billing group
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      responses:
        "200":
          description: Expected billing group response to a valid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_4'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
      x-latency-category: responsive
    patch:
      tags:
      - Billing Groups
      summary: Update a billing group
      operationId: updateBillingGroup
      parameters:
      - name: id
        in: path
        description: The id of the billing group
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      requestBody:
        description: Update billing group object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateBillingGroup'
        required: true
      responses:
        "200":
          description: Expected billing group response to a valid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_4'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
      x-latency-category: responsive
  /call_control_applications:
    get:
      tags:
      - Call Control Applications
      summary: List call control applications
      description: Return a list of call control applications.
      operationId: listCallControlApplications
      parameters:
      - name: "page[number]"
        in: query
        description: The page number to load
        required: false
        style: form
        explode: true
        schema:
          minimum: 1
          type: integer
          default: 1
      - name: "page[size]"
        in: query
        description: The size of the page
        required: false
        style: form
        explode: true
        schema:
          maximum: 250
          minimum: 1
          type: integer
          default: 20
      - name: "filter[application_name][contains]"
        in: query
        description: "If present, applications with <code>application_name</code>\
          \ containing the given value will be returned. Matching is not case-sensitive.\
          \ Requires at least three characters."
        required: false
        style: form
        explode: true
        schema:
          type: string
          default: "null"
      - name: "filter[outbound_voice_profile_id]"
        in: query
        description: Identifies the associated outbound voice profile.
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: int64
          example: "1293384261075731499"
      - name: sort
        in: query
        description: "Specifies the sort order for results. By default sorting direction\
          \ is ascending. To have the results sorted in descending order add the <code>\
          \ -</code> prefix.<br/><br/>\nThat is: <ul>\n  <li>\n    <code>connection_name</code>:\
          \ sorts the result by the\n    <code>connection_name</code> field in ascending\
          \ order.\n  </li>\n\n  <li>\n    <code>-connection_name</code>: sorts the\
          \ result by the\n    <code>connection_name</code> field in descending order.\n\
          \  </li>\n</ul> <br/> If not given, results are sorted by <code>created_at</code>\
          \ in descending order."
        required: false
        style: form
        explode: true
        schema:
          type: string
          example: connection_name
          enum:
          - created_at
          - connection_name
          - active
          default: created_at
      responses:
        "200":
          description: Successful response with a list of call control applications.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/List Call Control Applications Response'
        "400":
          description: Bad request
        "401":
          description: Unauthorized
        "404":
          description: Resource not found
      x-endpoint-cost: medium
      x-group-parameters: "true"
      x-latency-category: interactive
    post:
      tags:
      - Call Control Applications
      summary: Create a call control application
      description: Create a call control application.
      operationId: createCallControlApplication
      requestBody:
        description: Create call control application request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCallControlApplicationRequest'
        required: true
      responses:
        "201":
          description: Successful response with details about a call control application.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Call Control Application Response'
        "422":
          description: Bad Request
      x-endpoint-cost: medium
      x-latency-category: interactive
  /call_control_applications/{id}:
    get:
      tags:
      - Call Control Applications
      summary: Retrieve a call control application
      description: Retrieves the details of an existing call control application.
      operationId: retrieveCallControlApplication
      parameters:
      - name: id
        in: path
        description: Identifies the resource.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: int64
          example: "1293384261075731499"
      responses:
        "200":
          description: Successful response with details about a call control application.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Call Control Application Response'
        "401":
          description: Unauthorized
        "404":
          description: Resource not found
        "422":
          description: Bad request
      x-latency-category: interactive
    delete:
      tags:
      - Call Control Applications
      summary: Delete a call control application
      description: Deletes a call control application.
      operationId: deleteCallControlApplication
      parameters:
      - name: id
        in: path
        description: Identifies the resource.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: int64
          example: "1293384261075731499"
      responses:
        "200":
          description: Successful response with details about a call control application.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Call Control Application Response'
        "401":
          description: Unauthorized
        "404":
          description: Resource not found
        "422":
          description: Bad request
      x-latency-category: interactive
    patch:
      tags:
      - Call Control Applications
      summary: Update a call control application
      description: Updates settings of an existing call control application.
      operationId: updateCallControlApplication
      parameters:
      - name: id
        in: path
        description: Identifies the resource.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: int64
          example: "1293384261075731499"
      requestBody:
        description: Update call control application request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCallControlApplicationRequest'
        required: true
      responses:
        "200":
          description: Successful response with details about a call control application.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Call Control Application Response'
        "401":
          description: Unauthorized
        "404":
          description: Resource not found
        "422":
          description: Bad request
      x-latency-category: interactive
  /call_events:
    get:
      tags:
      - Debugging
      summary: List call events
      description: "Filters call events by given filter parameters. Events are ordered\
        \ by `event_timestamp`. If filter for `call_leg_id` or `call_session_id` is\
        \ not present, it only filters events from the last 24 hours.\n\n**Note**:\
        \ Only one `filter[event_timestamp]` can be passed.\n"
      operationId: listCallEvents
      parameters:
      - name: "filter[call_leg_id]"
        in: query
        description: The unique identifier of an individual call leg.
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: uuid
      - name: "filter[call_session_id]"
        in: query
        description: The unique identifier of the call control session. A session
          may include multiple call leg events.
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: uuid
      - name: "filter[status]"
        in: query
        description: Event status
        required: false
        style: form
        explode: true
        schema:
          type: string
          example: delivered
          enum:
          - delivered
          - failed
      - name: "filter[type]"
        in: query
        description: Event type
        required: false
        style: form
        explode: true
        schema:
          type: string
          example: webhook
          enum:
          - command
          - webhook
      - name: "filter[event_timestamp][gt]"
        in: query
        description: "Event timestamp: greater than"
        required: false
        style: form
        explode: true
        schema:
          type: string
          example: 2019-03-29T11:10:00Z
      - name: "filter[event_timestamp][gte]"
        in: query
        description: "Event timestamp: greater than or equal"
        required: false
        style: form
        explode: true
        schema:
          type: string
          example: 2019-03-29T11:10:00Z
      - name: "filter[event_timestamp][lt]"
        in: query
        description: "Event timestamp: lower than"
        required: false
        style: form
        explode: true
        schema:
          type: string
          example: 2019-03-29T11:10:00Z
      - name: "filter[event_timestamp][lte]"
        in: query
        description: "Event timestamp: lower than or equal"
        required: false
        style: form
        explode: true
        schema:
          type: string
          example: 2019-03-29T11:10:00Z
      - name: "filter[event_timestamp][eq]"
        in: query
        description: "Event timestamp: equal"
        required: false
        style: form
        explode: true
        schema:
          type: string
          example: 2019-03-29T11:10:00Z
      - name: "page[number]"
        in: query
        description: The page number to load
        required: false
        style: form
        explode: true
        schema:
          minimum: 1
          type: integer
          default: 1
      - name: "page[size]"
        in: query
        description: The size of the page
        required: false
        style: form
        explode: true
        schema:
          maximum: 250
          minimum: 1
          type: integer
          default: 20
      responses:
        "200":
          description: Successful response with a list of call events.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/List Call Events Response'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
      x-group-parameters: "true"
      x-latency-category: responsive
  /calls:
    post:
      tags:
      - Call Commands
      summary: Dial
      description: "Dial a number or SIP URI from a given connection. A successful\
        \ response will include a `call_leg_id` which can be used to correlate the\
        \ command with subsequent webhooks.\n\n**Expected Webhooks:**\n\n- `call.initiated`\n\
        - `call.answered` or `call.hangup`\n- `call.machine.detection.ended` if `answering_machine_detection`\
        \ was requested\n- `call.machine.greeting.ended` if `answering_machine_detection`\
        \ was set to `detect_beep`, `greeting_end` or `detect_words`"
      operationId: callDial
      requestBody:
        description: Call request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CallRequest'
        required: true
      responses:
        "200":
          description: Successful response with details about a call status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Retrieve Call Status Response'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
      callbacks:
        callAnswered:
          '{$request.body#/webhook_url}':
            post:
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CallAnsweredEvent'
                required: true
              responses:
                "200":
                  description: "The server must return an HTTP 200, otherwise we will\
                    \ reattempt delivery at the failover webhook URL."
        callHangup:
          '{$request.body#/webhook_url}':
            post:
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CallHangupEvent'
                required: true
              responses:
                "200":
                  description: "The server must return an HTTP 200, otherwise we will\
                    \ reattempt delivery at the failover webhook URL."
        callInitiated:
          '{$request.body#/webhook_url}':
            post:
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CallInitiatedEvent'
                required: true
              responses:
                "200":
                  description: "The server must return an HTTP 200, otherwise we will\
                    \ reattempt delivery at the failover webhook URL."
        callMachineDetectionEnded:
          '{$request.body#/webhook_url}':
            post:
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CallMachineDetectionEndedEvent'
                required: true
              responses:
                "200":
                  description: "The server must return an HTTP 200, otherwise we will\
                    \ reattempt delivery at the failover webhook URL."
        callMachineGreetingEnded:
          '{$request.body#/webhook_url}':
            post:
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CallMachineGreetingEndedEvent'
                required: true
              responses:
                "200":
                  description: "The server must return an HTTP 200, otherwise we will\
                    \ reattempt delivery at the failover webhook URL."
      x-latency-category: interactive
  /calls/{call_control_id}:
    get:
      tags:
      - Call Information
      summary: Retrieve a call status
      description: Returns the status of a call (data is available 10 minutes after
        call ended).
      operationId: retrieveCallStatus
      parameters:
      - name: call_control_id
        in: path
        description: Unique identifier and token for controlling the call
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Successful response with details about a call status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Retrieve Call Status Response'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
      x-latency-category: interactive
  /calls/{call_control_id}/actions/answer:
    post:
      tags:
      - Call Commands
      summary: Answer call
      description: |
        Answer an incoming call. You must issue this command before executing subsequent commands on an incoming call.

        **Expected Webhooks:**

        - `call.answered`
      operationId: callAnswer
      parameters:
      - name: call_control_id
        in: path
        description: Unique identifier and token for controlling the call
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: Answer call request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnswerRequest'
        required: true
      responses:
        "200":
          description: Successful response upon making a call control command.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Call Control Command Response'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
      callbacks:
        callAnswered:
          '{$request.body#/webhook_url}':
            post:
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CallAnsweredEvent'
                required: true
              responses:
                "200":
                  description: "The server must return an HTTP 200, otherwise we will\
                    \ reattempt delivery at the failover webhook URL."
      x-latency-category: interactive
  /calls/{call_control_id}/actions/bridge:
    post:
      tags:
      - Call Commands
      summary: Bridge calls
      description: |
        Bridge two call control calls.

        **Expected Webhooks:**

        - `call.bridged` for Leg A
        - `call.bridged` for Leg B
      operationId: callBridge
      parameters:
      - name: call_control_id
        in: path
        description: Unique identifier and token for controlling the call
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: Bridge call request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BridgeRequest'
        required: true
      responses:
        "200":
          description: Successful response upon making a call control command.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Call Control Command Response'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
      callbacks:
        callBridged:
          '{$request.body#/webhook_url}':
            post:
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CallBridgedEvent'
                required: true
              responses:
                "200":
                  description: "The server must return an HTTP 200, otherwise we will\
                    \ reattempt delivery at the failover webhook URL."
      x-latency-category: interactive
  /calls/{call_control_id}/actions/fork_start:
    post:
      tags:
      - Call Commands
      summary: Forking start
      description: "Call forking allows you to stream the media from a call to a specific\
        \ target in realtime. \nThis stream can be used to enable realtime audio analysis\
        \ to support a \nvariety of use cases, including fraud detection, or the creation\
        \ of AI-generated audio responses. \nRequests must specify either the `target`\
        \ attribute or the `rx` and `tx` attributes.\n\n**Expected Webhooks:**\n\n\
        - `call.fork.started`\n- `call.fork.stopped`\n\n**Simple Telnyx RTP Encapsulation\
        \ Protocol (STREP)**\n\n*Note: This header/encapsulation is not used when\
        \ the `rx` and `tx`\nparameters have been specified; it only applies when\
        \ media is forked\nusing the `target` attribute.*\n\nIf the destination for\
        \ forked media is specified using the \"target\"\nattribute, the RTP will\
        \ be encapsulated in an extra Telnyx protocol,\nwhich adds a 24 byte header\
        \ to the RTP payload in each packet. The STREP\nheader includes the Call Control\
        \ `call_leg_id` for stream\nidentification, along with bits that represent\
        \ the direction (inbound or\noutbound) of the media. This 24-byte header sits\
        \ between the UDP header\nand the RTP header.\n\nThe STREP header makes it\
        \ possible to fork RTP for multiple calls (or\ntwo RTP streams for the same\
        \ call) to the same IP:port, where the\nstreams can be demultiplexed by your\
        \ application using the information\nin the header. Of course, it's still\
        \ possible to ignore this header\ncompletely, for example, if sending forked\
        \ media for different calls to\ndifferent ports or IP addresses. In this case,\
        \ simply strip 24 bytes\n(or use the second byte to find the header length)\
        \ from the received UDP\npayload to get the RTP (RTP header and payload).\n\
        \n```\nSTREP Specification\n\n  0                   1                   2\
        \                   3\n  0 1 2 3 4 5 6 7 8 9 0 1 2 3 4 5 6 7 8 9 0 1 2 3 4\
        \ 5 6 7 8 9 0 1\n +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+\n\
        \ |1 1|Version|L|D|    HeaderLen  |  reserved (2 bytes)           |\n +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+\n\
        \ |       reserved (4 bytes, for UDP ports or anything else)      |\n +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+\n\
        \ |               The call_leg_id                                 |\n |  \
        \                 from Call Control                           |\n |      \
        \                 (128 bits / 16 bytes)                   |\n |          \
        \                 (this is binary data)               |\n +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+\n\
        \n 11\n   Static bits 11, always set to 11 to easily distinguish forked media\n\
        \   from RTP (10) and T.38 media (usually 00) and SIP (which begins\n   with\
        \ a capital letter, so begins with bits 01). This is a magic number.\n\n Version\n\
        \   Four bits to indicate the version number of the protocol, starting at\
        \ 0001.\n\n L\n   One bit to represent the leg of the call (A or B).\n   0\
        \ represents the A (first) leg of the call.\n   1 represents the B (second)\
        \ leg of the call.\n\n D\n   One bit to represent the direction of this RTP\
        \ stream.\n   0 represents media received by Telnyx.\n   1 represents media\
        \ transmitted by Telnyx.\n\n HeaderLen (1 byte)\n   The length of the header\
        \ in bytes.\n   Note that this value does not include the length of the payload.\
        \ The total\n   size of the RTP can be calculated by subtracting the HeaderLen\
        \ from the UDP\n   length (minus 8 for the UDP header).\n   In version 1,\
        \ this value will always be 24.\n\n Reserved (6 bytes)\n   Reserved for future\
        \ use and to make sure that the header is a multiple of 32 bits\n\n Call Leg\
        \ ID\n   A 128-bit identifier for the call leg.\n   This is the call_leg_id\
        \ from Call Control.\n```\n"
      operationId: callForkStart
      parameters:
      - name: call_control_id
        in: path
        description: Unique identifier and token for controlling the call
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: Fork media request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StartForkingRequest'
        required: true
      responses:
        "200":
          description: Successful response upon making a call control command.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Call Control Command Response'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
      callbacks:
        callForkStarted:
          '{$request.body#/webhook_url}':
            post:
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CallForkStartedEvent'
                required: true
              responses:
                "200":
                  description: "The server must return an HTTP 200, otherwise we will\
                    \ reattempt delivery at the failover webhook URL."
        callForkStopped:
          '{$request.body#/webhook_url}':
            post:
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CallForkStoppedEvent'
                required: true
              responses:
                "200":
                  description: "The server must return an HTTP 200, otherwise we will\
                    \ reattempt delivery at the failover webhook URL."
      x-latency-category: interactive
  /calls/{call_control_id}/actions/fork_stop:
    post:
      tags:
      - Call Commands
      summary: Forking stop
      description: |
        Stop forking a call.

        **Expected Webhooks:**

        - `call.fork.stopped`
      operationId: callForkStop
      parameters:
      - name: call_control_id
        in: path
        description: Unique identifier and token for controlling the call
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: Stop forking media request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StopForkingRequest'
        required: true
      responses:
        "200":
          description: Successful response upon making a call control command.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Call Control Command Response'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
      callbacks:
        callForkStopped:
          '{$request.body#/webhook_url}':
            post:
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CallForkStoppedEvent'
                required: true
              responses:
                "200":
                  description: "The server must return an HTTP 200, otherwise we will\
                    \ reattempt delivery at the failover webhook URL."
      x-latency-category: interactive
  /calls/{call_control_id}/actions/gather_stop:
    post:
      tags:
      - Call Commands
      summary: Gather stop
      description: |
        Stop current gather.

        **Expected Webhooks:**

        - `call.gather.ended`
      operationId: callGatherStop
      parameters:
      - name: call_control_id
        in: path
        description: Unique identifier and token for controlling the call
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: Stop current gather
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StopGatherRequest'
        required: true
      responses:
        "200":
          description: Successful response upon making a call control command.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Call Control Command Response'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
      callbacks:
        callGatherEnded:
          '{$request.body#/webhook_url}':
            post:
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CallGatherEndedEvent'
                required: true
              responses:
                "200":
                  description: "The server must return an HTTP 200, otherwise we will\
                    \ reattempt delivery at the failover webhook URL."
      x-latency-category: interactive
  /calls/{call_control_id}/actions/gather_using_audio:
    post:
      tags:
      - Call Commands
      summary: Gather using audio
      description: "Play an audio file on the call until the required DTMF signals\
        \ are gathered to build interactive menus.\n\nYou can pass a list of valid\
        \ digits along with an 'invalid_audio_url', which will be played back at the\
        \ beginning of each prompt. Playback will be interrupted when a DTMF signal\
        \ is received. The [Answer](/docs/api/v2/call-control/Call-Commands#CallControlAnswer)\
        \ command must be issued before the `gather_using_audio` command.\n\n**Expected\
        \ Webhooks:**\n\n- `call.playback.started`\n- `call.playback.ended`\n- `call.dtmf.received`\
        \ (you may receive many of these webhooks)\n- `call.gather.ended`\n"
      operationId: callGatherUsingAudio
      parameters:
      - name: call_control_id
        in: path
        description: Unique identifier and token for controlling the call
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: Gather using audio request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GatherUsingAudioRequest'
        required: true
      responses:
        "200":
          description: Successful response upon making a call control command.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Call Control Command Response'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
      callbacks:
        callDtmfReceived:
          '{$request.body#/webhook_url}':
            post:
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CallDtmfReceivedEvent'
                required: true
              responses:
                "200":
                  description: "The server must return an HTTP 200, otherwise we will\
                    \ reattempt delivery at the failover webhook URL."
        callGatherEnded:
          '{$request.body#/webhook_url}':
            post:
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CallGatherEndedEvent'
                required: true
              responses:
                "200":
                  description: "The server must return an HTTP 200, otherwise we will\
                    \ reattempt delivery at the failover webhook URL."
        callPlaybackEnded:
          '{$request.body#/webhook_url}':
            post:
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CallPlaybackEndedEvent'
                required: true
              responses:
                "200":
                  description: "The server must return an HTTP 200, otherwise we will\
                    \ reattempt delivery at the failover webhook URL."
        callPlaybackStarted:
          '{$request.body#/webhook_url}':
            post:
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CallPlaybackStartedEvent'
                required: true
              responses:
                "200":
                  description: "The server must return an HTTP 200, otherwise we will\
                    \ reattempt delivery at the failover webhook URL."
      x-latency-category: interactive
  /calls/{call_control_id}/actions/gather_using_speak:
    post:
      tags:
      - Call Commands
      summary: Gather using speak
      description: "Convert text to speech and play it on the call until the required\
        \ DTMF signals are gathered to build interactive menus.\n\nYou can pass a\
        \ list of valid digits along with an 'invalid_payload', which will be played\
        \ back at the beginning of each prompt. Speech will be interrupted when a\
        \ DTMF signal is received. The [Answer](/docs/api/v2/call-control/Call-Commands#CallControlAnswer)\
        \ command must be issued before the `gather_using_speak` command.\n\n**Expected\
        \ Webhooks:**\n\n- `call.dtmf.received` (you may receive many of these webhooks)\n\
        - `call.gather.ended`\n"
      operationId: callGatherUsingSpeak
      parameters:
      - name: call_control_id
        in: path
        description: Unique identifier and token for controlling the call
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: Gather using speak request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GatherUsingSpeakRequest'
        required: true
      responses:
        "200":
          description: Successful response upon making a call control command.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Call Control Command Response'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
      callbacks:
        callDtmfReceived:
          '{$request.body#/webhook_url}':
            post:
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CallDtmfReceivedEvent'
                required: true
              responses:
                "200":
                  description: "The server must return an HTTP 200, otherwise we will\
                    \ reattempt delivery at the failover webhook URL."
        callGatherEnded:
          '{$request.body#/webhook_url}':
            post:
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CallGatherEndedEvent'
                required: true
              responses:
                "200":
                  description: "The server must return an HTTP 200, otherwise we will\
                    \ reattempt delivery at the failover webhook URL."
      x-latency-category: interactive
  /calls/{call_control_id}/actions/hangup:
    post:
      tags:
      - Call Commands
      summary: Hangup call
      description: |
        Hang up the call.

        **Expected Webhooks:**

        - `call.hangup`
        - `call.recording.saved`
      operationId: callHangup
      parameters:
      - name: call_control_id
        in: path
        description: Unique identifier and token for controlling the call
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: Hangup request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HangupRequest'
        required: true
      responses:
        "200":
          description: Successful response upon making a call control command.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Call Control Command Response'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
      callbacks:
        callHangup:
          '{$request.body#/webhook_url}':
            post:
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CallHangupEvent'
                required: true
              responses:
                "200":
                  description: "The server must return an HTTP 200, otherwise we will\
                    \ reattempt delivery at the failover webhook URL."
        callRecordingSaved:
          '{$request.body#/webhook_url}':
            post:
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CallRecordingSavedEvent'
                required: true
              responses:
                "200":
                  description: "The server must return an HTTP 200, otherwise we will\
                    \ reattempt delivery at the failover webhook URL."
      x-latency-category: interactive
  /calls/{call_control_id}/actions/playback_start:
    post:
      tags:
      - Call Commands
      summary: Play audio URL
      description: "Play an audio file on the call. If multiple play audio commands\
        \ are issued consecutively,\nthe audio files will be placed in a queue awaiting\
        \ playback.\n\n*Notes:*\n\n- When `overlay` is enabled, `loop` is limited\
        \ to 1, and `target_legs` is limited to `self`.\n- A customer cannot Play\
        \ Audio with `overlay=true` unless there is a Play Audio with `overlay=false`\
        \ actively playing.\n\n**Expected Webhooks:**\n\n- `call.playback.started`\n\
        - `call.playback.ended`\n"
      operationId: callPlaybackStart
      parameters:
      - name: call_control_id
        in: path
        description: Unique identifier and token for controlling the call
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: Play audio URL request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlayAudioUrlRequest'
        required: true
      responses:
        "200":
          description: Successful response upon making a call control command.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Call Control Command Response'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
      callbacks:
        callPlaybackEnded:
          '{$request.body#/webhook_url}':
            post:
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CallPlaybackEndedEvent'
                required: true
              responses:
                "200":
                  description: "The server must return an HTTP 200, otherwise we will\
                    \ reattempt delivery at the failover webhook URL."
        callPlaybackStarted:
          '{$request.body#/webhook_url}':
            post:
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CallPlaybackStartedEvent'
                required: true
              responses:
                "200":
                  description: "The server must return an HTTP 200, otherwise we will\
                    \ reattempt delivery at the failover webhook URL."
      x-latency-category: interactive
  /calls/{call_control_id}/actions/playback_stop:
    post:
      tags:
      - Call Commands
      summary: Stop audio playback
      description: |
        Stop audio being played on the call.

        **Expected Webhooks:**

        - `call.playback.ended` or `call.speak.ended`
      operationId: callPlaybackStop
      parameters:
      - name: call_control_id
        in: path
        description: Unique identifier and token for controlling the call
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: Stop audio playback request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlaybackStopRequest'
        required: true
      responses:
        "200":
          description: Successful response upon making a call control command.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Call Control Command Response'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
      callbacks:
        callPlaybackEnded:
          '{$request.body#/webhook_url}':
            post:
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CallPlaybackEndedEvent'
                required: true
              responses:
                "200":
                  description: "The server must return an HTTP 200, otherwise we will\
                    \ reattempt delivery at the failover webhook URL."
        callSpeakEnded:
          '{$request.body#/webhook_url}':
            post:
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CallSpeakEndedEvent'
                required: true
              responses:
                "200":
                  description: "The server must return an HTTP 200, otherwise we will\
                    \ reattempt delivery at the failover webhook URL."
      x-latency-category: interactive
  /calls/{call_control_id}/actions/record_pause:
    post:
      tags:
      - Call Commands
      summary: Record pause
      description: |
        Pause recording the call. Recording can be resumed via Resume recording command.

        **Expected Webhooks:**

        There are no webhooks associated with this command.
      operationId: callRecordPause
      parameters:
      - name: call_control_id
        in: path
        description: Unique identifier and token for controlling the call
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: Pause recording call request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PauseRecordingRequest'
        required: true
      responses:
        "200":
          description: Successful response upon making a call control command.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Call Control Command Response'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
      x-latency-category: interactive
  /calls/{call_control_id}/actions/record_resume:
    post:
      tags:
      - Call Commands
      summary: Record resume
      description: |
        Resume recording the call.

        **Expected Webhooks:**

        There are no webhooks associated with this command.
      operationId: callRecordResume
      parameters:
      - name: call_control_id
        in: path
        description: Unique identifier and token for controlling the call
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: Resume recording call request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResumeRecordingRequest'
        required: true
      responses:
        "200":
          description: Successful response upon making a call control command.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Call Control Command Response'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
      x-latency-category: interactive
  /calls/{call_control_id}/actions/record_start:
    post:
      tags:
      - Call Commands
      summary: Recording start
      description: "Start recording the call. Recording will stop on call hang-up,\
        \ or can be initiated via the Stop Recording command.\n\n**Expected Webhooks:**\n\
        \n- `call.recording.saved`\n"
      operationId: callRecordStart
      parameters:
      - name: call_control_id
        in: path
        description: Unique identifier and token for controlling the call
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: Start recording audio request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StartRecordingRequest'
        required: true
      responses:
        "200":
          description: Successful response upon making a call control command.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Call Control Command Response'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
      x-latency-category: interactive
  /calls/{call_control_id}/actions/record_stop:
    post:
      tags:
      - Call Commands
      summary: Recording stop
      description: |
        Stop recording the call.

        **Expected Webhooks:**

        - `call.recording.saved`
      operationId: callRecordStop
      parameters:
      - name: call_control_id
        in: path
        description: Unique identifier and token for controlling the call
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: Stop recording call request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StopRecordingRequest'
        required: true
      responses:
        "200":
          description: Successful response upon making a call control command.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Call Control Command Response'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
      callbacks:
        callRecordingSaved:
          '{$request.body#/webhook_url}':
            post:
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CallRecordingSavedEvent'
                required: true
              responses:
                "200":
                  description: "The server must return an HTTP 200, otherwise we will\
                    \ reattempt delivery at the failover webhook URL."
      x-latency-category: interactive
  /calls/{call_control_id}/actions/refer:
    post:
      tags:
      - Call Commands
      summary: SIP Refer a call
      description: |
        Initiate a SIP Refer on a Call Control call. You can initiate a SIP Refer at any point in the duration of a call.

        **Expected Webhooks:**

        - `call.refer.started`
        - `call.refer.completed`
        - `call.refer.failed`
      operationId: callRefer
      parameters:
      - name: call_control_id
        in: path
        description: Unique identifier and token for controlling the call
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: Refer request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReferRequest'
        required: true
      responses:
        "200":
          description: Successful response upon making a call control command.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Call Control Command Response'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
      callbacks:
        callReferCompleted:
          '{$request.body#/webhook_url}':
            post:
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CallReferCompletedEvent'
                required: true
              responses:
                "200":
                  description: "The server must return an HTTP 200, otherwise we will\
                    \ reattempt delivery at the failover webhook URL."
        callReferFailed:
          '{$request.body#/webhook_url}':
            post:
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CallReferFailedEvent'
                required: true
              responses:
                "200":
                  description: "The server must return an HTTP 200, otherwise we will\
                    \ reattempt delivery at the failover webhook URL."
        callReferStarted:
          '{$request.body#/webhook_url}':
            post:
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CallReferStartedEvent'
                required: true
              responses:
                "200":
                  description: "The server must return an HTTP 200, otherwise we will\
                    \ reattempt delivery at the failover webhook URL."
      x-latency-category: interactive
  /calls/{call_control_id}/actions/reject:
    post:
      tags:
      - Call Commands
      summary: Reject a call
      description: |
        Reject an incoming call.

        **Expected Webhooks:**

        - `call.hangup`
      operationId: callReject
      parameters:
      - name: call_control_id
        in: path
        description: Unique identifier and token for controlling the call
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: Reject request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RejectRequest'
        required: true
      responses:
        "200":
          description: Successful response upon making a call control command.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Call Control Command Response'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
      callbacks:
        callHangup:
          '{$request.body#/webhook_url}':
            post:
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CallHangupEvent'
                required: true
              responses:
                "200":
                  description: "The server must return an HTTP 200, otherwise we will\
                    \ reattempt delivery at the failover webhook URL."
      x-latency-category: interactive
  /calls/{call_control_id}/actions/send_dtmf:
    post:
      tags:
      - Call Commands
      summary: Send DTMF
      description: |
        Sends DTMF tones from this leg. DTMF tones will be heard by the other end of the call.

        **Expected Webhooks:**

        There are no webhooks associated with this command.
      operationId: callSendDTMF
      parameters:
      - name: call_control_id
        in: path
        description: Unique identifier and token for controlling the call
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: Send DTMF request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendDTMFRequest'
        required: true
      responses:
        "200":
          description: Successful response upon making a call control command.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Call Control Command Response'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
      x-latency-category: interactive
  /calls/{call_control_id}/actions/speak:
    post:
      tags:
      - Call Commands
      summary: Speak text
      description: "Convert text to speech and play it back on the call. If multiple\
        \ speak text commands are issued consecutively, the audio files will be placed\
        \ in a queue awaiting playback.\n\n**Expected Webhooks:**\n\n- `call.speak.started`\n\
        - `call.speak.ended`\n"
      operationId: callSpeak
      parameters:
      - name: call_control_id
        in: path
        description: Unique identifier and token for controlling the call
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: Speak request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SpeakRequest'
        required: true
      responses:
        "200":
          description: Successful response upon making a call control command.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Call Control Command Response'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
      callbacks:
        callSpeakEnded:
          '{$request.body#/webhook_url}':
            post:
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CallSpeakEndedEvent'
                required: true
              responses:
                "200":
                  description: "The server must return an HTTP 200, otherwise we will\
                    \ reattempt delivery at the failover webhook URL."
        callSpeakStarted:
          '{$request.body#/webhook_url}':
            post:
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CallSpeakStartedEvent'
                required: true
              responses:
                "200":
                  description: "The server must return an HTTP 200, otherwise we will\
                    \ reattempt delivery at the failover webhook URL."
      x-latency-category: interactive
  /calls/{call_control_id}/actions/transcription_start:
    post:
      tags:
      - Call Commands
      summary: Transcription start
      description: "Start real-time transcription. Transcription will stop on call\
        \ hang-up, or can be initiated via the Transcription stop command."
      operationId: callTranscriptionStart
      parameters:
      - name: call_control_id
        in: path
        description: Unique identifier and token for controlling the call
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: Transcription start request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TranscriptionStartRequest'
        required: true
      responses:
        "200":
          description: Successful response upon making a call control command.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Call Control Command Response'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
      callbacks:
        transcription:
          '{$request.body#/webhook_url}':
            post:
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/TranscriptionEvent'
                required: true
              responses:
                "200":
                  description: "The server must return an HTTP 200, otherwise we will\
                    \ reattempt delivery at the failover webhook URL."
      x-latency-category: interactive
  /calls/{call_control_id}/actions/transcription_stop:
    post:
      tags:
      - Call Commands
      summary: Transcription stop
      description: Stop real-time transcription.
      operationId: callTranscriptionStop
      parameters:
      - name: call_control_id
        in: path
        description: Unique identifier and token for controlling the call
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: Transcription stop request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TranscriptionStopRequest'
        required: true
      responses:
        "200":
          description: Successful response upon making a call control command.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Call Control Command Response'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
      x-latency-category: interactive
  /calls/{call_control_id}/actions/transfer:
    post:
      tags:
      - Call Commands
      summary: Transfer call
      description: "Transfer a call to a new destination. If the transfer is unsuccessful,\
        \ a `call.hangup` webhook for the other call (Leg B) will be sent indicating\
        \ that the transfer could not be completed. The original call will remain\
        \ active and may be issued additional commands, potentially transfering the\
        \ call to an alternate destination.\n\n**Expected Webhooks:**\n\n- `call.initiated`\n\
        - `call.bridged` to Leg B\n- `call.answered` or `call.hangup`\n- `call.machine.detection.ended`\
        \ if `answering_machine_detection` was requested\n- `call.machine.greeting.ended`\
        \ if `answering_machine_detection` was set to `detect_beep`, `greeting_end`\
        \ or `detect_words`"
      operationId: callTransfer
      parameters:
      - name: call_control_id
        in: path
        description: Unique identifier and token for controlling the call
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: Transfer call request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransferCallRequest'
        required: true
      responses:
        "200":
          description: Successful response upon making a call control command.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Call Control Command Response'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
      callbacks:
        callAnswered:
          '{$request.body#/webhook_url}':
            post:
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CallAnsweredEvent'
                required: true
              responses:
                "200":
                  description: "The server must return an HTTP 200, otherwise we will\
                    \ reattempt delivery at the failover webhook URL."
        callBridged:
          '{$request.body#/webhook_url}':
            post:
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CallBridgedEvent'
                required: true
              responses:
                "200":
                  description: "The server must return an HTTP 200, otherwise we will\
                    \ reattempt delivery at the failover webhook URL."
        callHangup:
          '{$request.body#/webhook_url}':
            post:
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CallHangupEvent'
                required: true
              responses:
                "200":
                  description: "The server must return an HTTP 200, otherwise we will\
                    \ reattempt delivery at the failover webhook URL."
        callInitiated:
          '{$request.body#/webhook_url}':
            post:
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CallInitiatedEvent'
                required: true
              responses:
                "200":
                  description: "The server must return an HTTP 200, otherwise we will\
                    \ reattempt delivery at the failover webhook URL."
      x-latency-category: interactive
  /conferences:
    get:
      tags:
      - Conference Commands
      summary: List conferences
      description: "Lists conferences. Conferences are created on demand, and will\
        \ expire after all participants have left the conference or after 4 hours\
        \ regardless of the number of active participants. Conferences are listed\
        \ in descending order by `expires_at`."
      operationId: listConferences
      parameters:
      - name: "filter[name]"
        in: query
        description: "If present, conferences will be filtered to those with a matching\
          \ `name` attribute. Matching is case-sensitive"
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: "page[number]"
        in: query
        description: The page number to load
        required: false
        style: form
        explode: true
        schema:
          minimum: 1
          type: integer
          default: 1
      - name: "page[size]"
        in: query
        description: The size of the page
        required: false
        style: form
        explode: true
        schema:
          maximum: 250
          minimum: 1
          type: integer
          default: 20
      responses:
        "200":
          description: Successful response with a list of conferences.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/List Conferences Response'
        "401":
          description: Unauthorized
        "422":
          description: Unprocessable entity
      x-group-parameters: "true"
      x-latency-category: responsive
    post:
      tags:
      - Conference Commands
      summary: Create conference
      description: "Create a conference from an existing call leg using a `call_control_id`\
        \ and a conference name. Upon creating the conference, the call will be automatically\
        \ bridged to the conference. Conferences will expire after all participants\
        \ have left the conference or after 4 hours regardless of the number of active\
        \ participants.\n\n**Expected Webhooks:**\n\n- `conference.created`\n- `conference.participant.joined`\n\
        - `conference.participant.left`\n- `conference.ended`\n- `conference.recording.saved`\n"
      operationId: createConference
      requestBody:
        description: Create a conference
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateConferenceRequest'
        required: true
      responses:
        "200":
          description: Successful response with details about a conference.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conference Response'
        "401":
          description: Unauthorized
        "422":
          description: Unprocessable entity
      callbacks:
        conferenceCreated:
          '{$request.body#/webhook_url}':
            post:
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/ConferenceCreatedEvent'
                required: true
              responses:
                "200":
                  description: "The server must return an HTTP 200, otherwise we will\
                    \ reattempt delivery at the failover webhook URL."
        conferenceEnded:
          '{$request.body#/webhook_url}':
            post:
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/ConferenceEndedEvent'
                required: true
              responses:
                "200":
                  description: "The server must return an HTTP 200, otherwise we will\
                    \ reattempt delivery at the failover webhook URL."
        conferenceParticipantJoined:
          '{$request.body#/webhook_url}':
            post:
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/ConferenceParticipantJoinedEvent'
                required: true
              responses:
                "200":
                  description: "The server must return an HTTP 200, otherwise we will\
                    \ reattempt delivery at the failover webhook URL."
        conferenceParticipantLeft:
          '{$request.body#/webhook_url}':
            post:
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/ConferenceParticipantLeftEvent'
                required: true
              responses:
                "200":
                  description: "The server must return an HTTP 200, otherwise we will\
                    \ reattempt delivery at the failover webhook URL."
      x-latency-category: interactive
  /conferences/{conference_id}/participants:
    get:
      tags:
      - Conference Commands
      summary: List conference participants
      description: Lists conference participants
      operationId: listConferenceParticipants
      parameters:
      - name: conference_id
        in: path
        description: Uniquely identifies the conference by id
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: "filter[muted]"
        in: query
        description: "If present, participants will be filtered to those who are/are\
          \ not muted"
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: "filter[on_hold]"
        in: query
        description: "If present, participants will be filtered to those who are/are\
          \ not put on hold"
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: "filter[whispering]"
        in: query
        description: "If present, participants will be filtered to those who are whispering\
          \ or are not"
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: "page[number]"
        in: query
        description: The page number to load
        required: false
        style: form
        explode: true
        schema:
          minimum: 1
          type: integer
          default: 1
      - name: "page[size]"
        in: query
        description: The size of the page
        required: false
        style: form
        explode: true
        schema:
          maximum: 250
          minimum: 1
          type: integer
          default: 20
      responses:
        "200":
          description: Successful response with a list of conference participants.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/List Participants Response'
        "401":
          description: Unauthorized
        "404":
          description: Conference does not exist
        "422":
          description: Unprocessable entity
      x-group-parameters: "true"
      x-latency-category: interactive
  /conferences/{id}:
    get:
      tags:
      - Conference Commands
      summary: Retrieve a conference
      description: Retrieve an existing conference
      operationId: retrieveConference
      parameters:
      - name: id
        in: path
        description: Uniquely identifies the conference by id
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
[...]
