openapi: 3.0.0
info:
  title: Telnyx API
  description: "SIP trunking, SMS, MMS, Call Control and Telephony Data Services."
  contact:
    email: support@telnyx.com
  license:
    name: MIT
  version: 2.0.0
servers:
- url: https://api.telnyx.com/v2
  description: Version 2.0.0 of the Telnyx API
security:
- bearerAuth: []
tags:
- name: Wireless
  description: Wireless operations
- name: SIM Cards
  description: SIM Cards operations
- name: Reporting
  description: Wireless reporting operations
- name: Addresses
  description: Address operations
- name: Number Search
  description: Number search
- name: Number Reservations
  description: Number reservations
- name: Number Orders
  description: Number orders
- name: Number Order Regulatory Requirements
  description: Number order regulatory requirements
- name: Number Order Documents
  description: Number order documents
- name: Number Configurations
  description: Configure your phone numbers
- name: Billing Groups
  description: Billing groups operations
- name: Connections
  description: Connections operations
- name: IP Connections
  description: IP connection operations
- name: Credential Connections
  description: Credential connection operations
- name: IPs
  description: IP operations
- name: FQDN Connections
  description: FQDN connection operations
- name: FQDNs
  description: FQDN operations
- name: Call Control Applications
  description: Call Control applications operations
- name: Call Commands
  description: Call control command operations
- name: Conferences
  description: Conference operations
- name: Conference Commands
  description: Conference command operations
- name: Debugging
  description: Call control debugging
- name: Call Information
  description: Call information
- name: Messaging Profiles
  description: Messaging profiles
- name: Messages
  description: Messages
- name: Messaging URL Domains
  description: Messaging URL Domains
- name: Short Codes
  description: Short codes
- name: Phone Numbers
  description: Phone numbers
- name: Messaging Hosted Numbers
  description: Hosted SMS
- name: Outbound Voice Profiles
  description: Outbound voice profiles operations
- name: Inbound Channels
  description: Inbound channels operations
- name: Number Portout
  description: Number portout operations
paths:
  /actions/register/sim_cards:
    post:
      tags:
      - SIM Cards
      summary: Register SIM cards
      description: "Register the SIM cards associated with the provided registration\
        \ codes to the current user's account.<br/><br/>\nIf <code>sim_card_group_id</code>\
        \ is provided, the SIM cards will be associated with that group. Otherwise,\
        \ the default group for the current user, which is associated with the default\
        \ free data plan, will be used.<br/><br/>\n"
      operationId: SimCardRegister
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/body'
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200'
  /addresses:
    get:
      tags:
      - Addresses
      summary: List all addresses
      description: Returns a list of your addresses.
      operationId: findAddresss
      parameters:
      - name: "page[number]"
        in: query
        description: The page number to load
        required: false
        style: form
        explode: true
        schema:
          minimum: 1
          type: integer
          default: 1
      - name: "page[size]"
        in: query
        description: The size of the page
        required: false
        style: form
        explode: true
        schema:
          maximum: 250
          minimum: 1
          type: integer
          default: 20
      - name: "filter[street_address][contains]"
        in: query
        description: "If present, addresses with <code>street_address</code> containing\
          \ the given value will be returned. Matching is not case-sensitive. Requires\
          \ at least three characters."
        required: false
        style: form
        explode: true
        schema:
          type: string
          default: "null"
      - name: sort
        in: query
        description: "Specifies the sort order for results. By default sorting direction\
          \ is ascending. To have the results sorterd in descending order add the\
          \ <code> -</code> prefix.<br/><br/>\nThat is: <ul>\n  <li>\n    <code>street_address</code>:\
          \ sorts the result by the\n    <code>street_address</code> field in ascending\
          \ order.\n  </li>\n\n  <li>\n    <code>-street_address</code>: sorts the\
          \ result by the\n    <code>street_address</code> field in descending order.\n\
          \  </li>\n</ul> <br/> If not given, results are sorted by <code>created_at</code>\
          \ in descending order."
        required: false
        style: form
        explode: true
        schema:
          type: string
          example: street_address
          default: created_at
          enum:
          - created_at
          - first_name
          - last_name
          - business_name
          - street_address
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_1'
        "400":
          description: Bad request
        "401":
          description: Unauthorized
        "404":
          description: Resource not found
    post:
      tags:
      - Addresses
      summary: Creates an address
      description: Creates an address.
      operationId: CreateAddress
      parameters: []
      requestBody:
        description: Parameters that can be defined during address creation
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/body_1'
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_2'
        "422":
          description: Bad request
  /addresses/{id}:
    get:
      tags:
      - Addresses
      summary: Retrieve an address
      description: Retrieves the details of an existing address.
      operationId: getAddress
      parameters:
      - name: id
        in: path
        description: address ID
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_2'
        "401":
          description: Unauthorized
        "404":
          description: Resource not found
        "422":
          description: Bad request
    delete:
      tags:
      - Addresses
      summary: Deletes an address
      description: Deletes an existing address.
      operationId: DeleteAddress
      parameters:
      - name: id
        in: path
        description: address ID
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_2'
        "401":
          description: Unauthorized
        "404":
          description: Resource not found
        "422":
          description: Bad request
  /available_phone_numbers:
    get:
      tags:
      - Number Search
      summary: List available phone numbers
      operationId: listAvailablePhoneNumbers
      parameters:
      - name: "filter[phone_number][starts_with]"
        in: query
        description: Filter numbers starting with a pattern
        required: false
        style: form
        explode: true
        schema:
          type: string
        examples:
          generic:
            summary: Find numbers starting with the prefix 'FREE'
            value: FOO
      - name: "filter[phone_number][ends_with]"
        in: query
        description: Filter numbers ending with a pattern
        required: false
        style: form
        explode: true
        schema:
          type: string
        examples:
          generic:
            summary: Find numbers ending with the suffix 'CALL'
            value: CALL
      - name: "filter[phone_number][contains]"
        in: query
        description: Filter numbers containing a pattern
        required: false
        style: form
        explode: true
        schema:
          type: string
        examples:
          generic:
            summary: Find numbers that contain the word 'TELNYX' in any position
            value: TELNYX
      - name: "filter[locality]"
        in: query
        description: Filter phone numbers by city
        required: false
        style: form
        explode: true
        schema:
          type: string
        examples:
          US:
            value: Chicago
          CA:
            value: Toronto
          AU:
            value: Canberra
      - name: "filter[administrative_area]"
        in: query
        description: Filter phone numbers by US state/CA province
        required: false
        style: form
        explode: true
        schema:
          type: string
          example: IL
      - name: "filter[country_code]"
        in: query
        description: Filter phone numbers by ISO 2 country code
        required: false
        style: form
        explode: true
        schema:
          type: string
          example: US
      - name: "filter[national_destination_code]"
        in: query
        description: Filter by the national destination code of the number. This filter
          is only applicable to North American numbers
        required: false
        style: form
        explode: true
        schema:
          type: string
        examples:
          US:
            value: "312"
          CA:
            value: "437"
          AU:
            value: "0251"
      - name: "filter[rate_center]"
        in: query
        description: Filter phone numbers by NANP rate center. This filter is only
          applicable to North American numbers
        required: false
        style: form
        explode: true
        schema:
          type: string
          example: CHICAGO HEIGHTS
      - name: "filter[number_type]"
        in: query
        description: Filter phone numbers by number type
        required: false
        style: form
        explode: true
        schema:
          type: string
          example: local
          enum:
          - toll-free
          - national
          - mobile
          - local
      - name: "filter[features]"
        in: query
        description: "Filter if the phone number should be used for voice, fax, mms,\
          \ sms, emergency"
        required: false
        style: form
        explode: true
        schema:
          type: array
          example: "voice,sms"
          items:
            type: string
            enum:
            - sms
            - mms
            - voice
            - fax
            - emergency
      - name: "filter[limit]"
        in: query
        description: Limits the number of results
        required: false
        style: form
        explode: true
        schema:
          type: integer
          example: 100
      - name: "filter[best_effort]"
        in: query
        description: Filter to determine if best effort results should be included.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          example: false
      - name: "filter[quickship]"
        in: query
        description: Filter to exclude phone numbers that need additional time after
          to purchase to receive phone calls.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          example: true
      - name: "filter[reservable]"
        in: query
        description: Filter to exclude phone numbers that cannot be reserved before
          purchase.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          example: true
      - name: "filter[exclude_regulatory_requirements]"
        in: query
        description: Filter to determine if the phone number has regulatory requirements
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          example: false
      responses:
        "200":
          description: An array of phone numbers. This is not paginated. The limit
            filter can be used to control the amount of results returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_3'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_default'
  /billing_groups:
    get:
      tags:
      - Billing Groups
      summary: List all billing groups
      operationId: listBillingGroups
      parameters:
      - name: "page[number]"
        in: query
        description: The page number to load
        required: false
        style: form
        explode: true
        schema:
          minimum: 1
          type: integer
          default: 1
      - name: "page[size]"
        in: query
        description: The size of the page
        required: false
        style: form
        explode: true
        schema:
          maximum: 250
          minimum: 1
          type: integer
          default: 20
      responses:
        "200":
          description: A paginated array of billing groups
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_4'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_default_1'
    post:
      tags:
      - Billing Groups
      summary: Create a billing group
      operationId: createBillingGroup
      requestBody:
        description: New billing group object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/body_2'
        required: true
      responses:
        "200":
          description: Expected billing group response to a valid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_5'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_default_1'
  /billing_groups/{id}:
    get:
      tags:
      - Billing Groups
      summary: Retrieve a billing group
      operationId: retrieveBillingGroup
      parameters:
      - name: id
        in: path
        description: The id of the billing group
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      responses:
        "200":
          description: Expected billing group response to a valid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_5'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_default_1'
    delete:
      tags:
      - Billing Groups
      summary: Delete a billing group
      operationId: deleteBillingGroup
      parameters:
      - name: id
        in: path
        description: The id of the billing group
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      responses:
        "200":
          description: Expected billing group response to a valid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_5'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_default_1'
    patch:
      tags:
      - Billing Groups
      summary: Update a billing group
      operationId: updateBillingGroup
      parameters:
      - name: id
        in: path
        description: The id of the billing group
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      requestBody:
        description: Update billing group object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/body_3'
        required: true
      responses:
        "200":
          description: Expected billing group response to a valid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_5'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_default_1'
  /call_control_applications:
    get:
      tags:
      - Call Control Applications
      summary: List all Call Control applications
      description: Returns a list of your Call Control applications.
      operationId: findCallControlApplications
      parameters:
      - name: "page[number]"
        in: query
        description: The page number to load
        required: false
        style: form
        explode: true
        schema:
          minimum: 1
          type: integer
          default: 1
      - name: "page[size]"
        in: query
        description: The size of the page
        required: false
        style: form
        explode: true
        schema:
          maximum: 250
          minimum: 1
          type: integer
          default: 20
      - name: "filter[connection_name][contains]"
        in: query
        description: "If present, connections with <code>connection_name</code> containing\
          \ the given value will be returned. Matching is not case-sensitive. Requires\
          \ at least three characters."
        required: false
        style: form
        explode: true
        schema:
          type: string
          default: "null"
      - name: "filter[outbound_voice_profile_id]"
        in: query
        description: Identifies the associated outbound voice profile.
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: int64
          example: "1293384261075731499"
      - name: sort
        in: query
        description: "Specifies the sort order for results. By default sorting direction\
          \ is ascending. To have the results sorterd in descending order add the\
          \ <code> -</code> prefix.<br/><br/>\nThat is: <ul>\n  <li>\n    <code>connection_name</code>:\
          \ sorts the result by the\n    <code>connection_name</code> field in ascending\
          \ order.\n  </li>\n\n  <li>\n    <code>-connection_name</code>: sorts the\
          \ result by the\n    <code>connection_name</code> field in descending order.\n\
          \  </li>\n</ul> <br/> If not given, results are sorted by <code>created_at</code>\
          \ in descending order."
        required: false
        style: form
        explode: true
        schema:
          type: string
          example: connection_name
          default: created_at
          enum:
          - created_at
          - connection_name
          - active
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_6'
        "400":
          description: Bad request
        "401":
          description: Unauthorized
        "404":
          description: Resource not found
    post:
      tags:
      - Call Control Applications
      summary: Creates a Call Control application
      description: Creates a Call Control application.
      operationId: CreateCallControlApplication
      parameters: []
      requestBody:
        description: Parameters that can be set when creating a Call Control application
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Updatable attributes for Call Control applications'
        required: true
      responses:
        "201":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_201'
        "422":
          description: Bad request
  /call_control_applications/{id}:
    get:
      tags:
      - Call Control Applications
      summary: Retrieve a Call Control application
      description: Retrieves the details of an existing Call Control application.
      operationId: getCallControlApplication
      parameters:
      - name: id
        in: path
        description: Identifies the resource.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: int64
          example: "1293384261075731499"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_201'
        "401":
          description: Unauthorized
        "404":
          description: Resource not found
        "422":
          description: Bad request
    delete:
      tags:
      - Call Control Applications
      summary: Deletes a Call Control application
      description: Deletes a Call Control application.
      operationId: DeleteCallControlApplication
      parameters:
      - name: id
        in: path
        description: Identifies the resource.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: int64
          example: "1293384261075731499"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_201'
        "401":
          description: Unauthorized
        "404":
          description: Resource not found
        "422":
          description: Bad request
    patch:
      tags:
      - Call Control Applications
      summary: Update a Call Control application
      description: Updates settings of an existing Call Control application.
      operationId: UpdateCallControlApplication
      parameters:
      - name: id
        in: path
        description: Identifies the resource.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: int64
          example: "1293384261075731499"
      requestBody:
        description: Parameters that can be updated in a Call Control application
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Updatable attributes for Call Control applications_1'
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_201'
        "401":
          description: Unauthorized
        "404":
          description: Resource not found
        "422":
          description: Bad request
  /call_events:
    get:
      tags:
      - Debugging
      summary: List call events
      description: "Filters call events by given filter parameters. Events are ordered\
        \ by `event_timestamp`. If filter for `call_leg_id` or `call_session_id` is\
        \ not present, it only filters events from the last 24 hours.\n\n**Note**:\
        \ Only one `filter[event_timestamp]` can be passed.\n"
      operationId: CallControlDebuggingEventList
      parameters:
      - name: "filter[call_leg_id]"
        in: query
        description: The unique identifier of an individual call leg.
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: uuid
      - name: "filter[call_session_id]"
        in: query
        description: The unique identifier of the call control session. A session
          may include multiple call leg events.
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: uuid
      - name: "filter[status]"
        in: query
        description: Event status
        required: false
        style: form
        explode: true
        schema:
          type: string
          example: delivered
          enum:
          - delivered
          - failed
      - name: "filter[type]"
        in: query
        description: Event type
        required: false
        style: form
        explode: true
        schema:
          type: string
          example: webhook
          enum:
          - command
          - webhook
      - name: "filter[event_timestamp][gt]"
        in: query
        description: "Event timestamp: greater than"
        required: false
        style: form
        explode: true
        schema:
          type: string
          example: 2019-03-29T11:10:00Z
      - name: "filter[event_timestamp][gte]"
        in: query
        description: "Event timestamp: greater than or equal"
        required: false
        style: form
        explode: true
        schema:
          type: string
          example: 2019-03-29T11:10:00Z
      - name: "filter[event_timestamp][lt]"
        in: query
        description: "Event timestamp: lower than"
        required: false
        style: form
        explode: true
        schema:
          type: string
          example: 2019-03-29T11:10:00Z
      - name: "filter[event_timestamp][lte]"
        in: query
        description: "Event timestamp: lower than or equal"
        required: false
        style: form
        explode: true
        schema:
          type: string
          example: 2019-03-29T11:10:00Z
      - name: "filter[event_timestamp][eq]"
        in: query
        description: "Event timestamp: equal"
        required: false
        style: form
        explode: true
        schema:
          type: string
          example: 2019-03-29T11:10:00Z
      responses:
        "200":
          description: An array of call events
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_7'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_default_1'
  /calls:
    post:
      tags:
      - Call Commands
      summary: Dial
      description: |
        Dial a number from a given connection. A successful response will include a `call_leg_id` which can be used to correlate the command with subsequent webhooks.

        **Expected Webhooks:**

        - `call.initiated`
        - `call.answered` or `call.hangup`
        - `call.machine.detection.ended` if `answering_machine_detection` was requested
        - `call.machine.greeting.ended` if `answering_machine_detection` was requested to detect the end of machine greeting
      operationId: CallControlDial
      requestBody:
        description: Dial request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Dial request'
        required: true
      responses:
        "200":
          description: Retrieve call status response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_8'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_default_1'
      callbacks:
        callInitiated:
          '{$request.body#/webhook_url}':
            post:
              requestBody:
                content:
                  application/json:
                    schema:
                      type: object
                      properties:
                        record_type:
                          type: string
                          description: Identifies the type of the resource.
                          example: event
                          enum:
                          - event
                        event_type:
                          type: string
                          description: The type of event being delivered.
                          example: call.initiated
                          enum:
                          - call.initiated
                        id:
                          type: string
                          description: Identifies the type of resource.
                          format: uuid
                          example: 0ccc7b54-4df3-4bca-a65a-3da1ecc777f0
                        occurred_at:
                          type: string
                          description: ISO 8601 datetime of when the event occurred.
                          format: date-time
                          example: 2018-02-02T22:25:27.521992Z
                        payload:
                          type: object
                          properties:
                            call_control_id:
                              type: string
                              description: Call ID used to issue commands via Call
                                Control API.
                              format: uuid
                            connection_id:
                              type: string
                              description: Telnyx connection ID used in the call.
                              example: 7267xxxxxxxxxxxxxx
                            call_leg_id:
                              type: string
                              description: ID that is unique to the call and can be
                                used to correlate webhook events.
                              example: 428c31b6-7af4-4bcb-b7f5-5013ef9657c1
                            call_session_id:
                              type: string
                              description: ID that is unique to the call session and
                                can be used to correlate webhook events.
                              example: 428c31b6-abf3-3bc1-b7f4-5013ef9657c1
                            client_state:
                              type: string
                              description: State received from a command.
                              example: aGF2ZSBhIG5pY2UgZGF5ID1d
                            from:
                              type: string
                              description: Number or SIP URI placing the call.
                              example: +35319605860
                            to:
                              type: string
                              description: Destination number or SIP URI of the call.
                              example: +13129457420
                            direction:
                              type: string
                              description: Whether the call is `incoming` or `outgoing`.
                              example: incoming
                              enum:
                              - incoming
                              - outgoing
                            state:
                              type: string
                              description: State received from a command.
                              example: parked
                              enum:
                              - parked
                      example:
                        record_type: event
                        event_type: call.initiated
                        id: 0ccc7b54-4df3-4bca-a65a-3da1ecc777f0
                        occurred_at: 2018-02-02T22:25:27.521992Z
                        payload:
                          call_control_id: AgDIxmoRX6QMuaIj_uXRXnPAXP0QlNfX
                          connection_id: 7267xxxxxxxxxxxxxx
                          call_leg_id: 428c31b6-7af4-4bcb-b7f5-5013ef9657c1
                          call_session_id: 428c31b6-7af4-4bcb-b7f5-5013ef9657c1
                          client_state: aGF2ZSBhIG5pY2UgZGF5ID1d
                          from: +35319605860
                          to: +35319605860
                          direction: incoming
                          state: parked
                required: true
              responses:
                "200":
                  description: "The server must return an HTTP 200, otherwise we will\
                    \ reattempt delivery at the failover webhook URL."
        callAnswered:
          '{$request.body#/webhook_url}':
            post:
              requestBody:
                content:
                  application/json:
                    schema:
                      type: object
                      properties:
                        record_type:
                          type: string
                          description: Identifies the type of the resource.
                          example: event
                          enum:
                          - event
                        event_type:
                          type: string
                          description: The type of event being delivered.
                          example: call.answered
                          enum:
                          - call.answered
                        id:
                          type: string
                          description: Identifies the type of resource.
                          format: uuid
                          example: 0ccc7b54-4df3-4bca-a65a-3da1ecc777f0
                        occurred_at:
                          type: string
                          description: ISO 8601 datetime of when the event occurred.
                          format: date-time
                          example: 2018-02-02T22:25:27.521992Z
                        payload:
                          type: object
                          properties:
                            call_control_id:
                              type: string
                              description: Call ID used to issue commands via Call
                                Control API.
                              format: uuid
                            connection_id:
                              type: string
                              description: Telnyx connection ID used in the call.
                              example: 7267xxxxxxxxxxxxxx
                            call_leg_id:
                              type: string
                              description: ID that is unique to the call and can be
                                used to correlate webhook events.
                              example: 428c31b6-7af4-4bcb-b7f5-5013ef9657c1
                            call_session_id:
                              type: string
                              description: ID that is unique to the call session and
                                can be used to correlate webhook events.
                              example: 428c31b6-abf3-3bc1-b7f4-5013ef9657c1
                            client_state:
                              type: string
                              description: State received from a command.
                              example: aGF2ZSBhIG5pY2UgZGF5ID1d
                            from:
                              type: string
                              description: Number or SIP URI placing the call.
                              example: +35319605860
                            to:
                              type: string
                              description: Destination number or SIP URI of the call.
                              example: +13129457420
                            state:
                              type: string
                              description: State received from a command.
                              example: answered
                              enum:
                              - answered
                      example:
                        record_type: event
                        event_type: call.answered
                        id: 0ccc7b54-4df3-4bca-a65a-3da1ecc777f0
                        occurred_at: 2018-02-02T22:25:27.521992Z
                        payload:
                          call_control_id: AgDIxmoRX6QMuaIj_uXRXnPAXP0QlNfX
                          connection_id: 7267xxxxxxxxxxxxxx
                          call_leg_id: 428c31b6-7af4-4bcb-b7f5-5013ef9657c1
                          call_session_id: 428c31b6-7af4-4bcb-b7f5-5013ef9657c1
                          client_state: aGF2ZSBhIG5pY2UgZGF5ID1d
                          from: +35319605860
                          to: +35319605860
                          state: answered
                required: true
              responses:
                "200":
                  description: "The server must return an HTTP 200, otherwise we will\
                    \ reattempt delivery at the failover webhook URL."
        callHangup:
          '{$request.body#/webhook_url}':
            post:
              requestBody:
                content:
                  application/json:
                    schema:
                      type: object
                      properties:
                        record_type:
                          type: string
                          description: Identifies the type of the resource.
                          example: event
                          enum:
                          - event
                        event_type:
                          type: string
                          description: The type of event being delivered.
                          example: call.hangup
                          enum:
                          - call.hangup
                        id:
                          type: string
                          description: Identifies the type of resource.
                          format: uuid
                          example: 0ccc7b54-4df3-4bca-a65a-3da1ecc777f0
                        occurred_at:
                          type: string
                          description: ISO 8601 datetime of when the event occurred.
                          format: date-time
                          example: 2018-02-02T22:25:27.521992Z
                        payload:
                          type: object
                          properties:
                            call_control_id:
                              type: string
                              description: Call ID used to issue commands via Call
                                Control API.
                              format: uuid
                            connection_id:
                              type: string
                              description: Telnyx connection ID used in the call.
                              example: 7267xxxxxxxxxxxxxx
                            call_leg_id:
                              type: string
                              description: ID that is unique to the call and can be
                                used to correlate webhook events.
                              example: 428c31b6-7af4-4bcb-b7f5-5013ef9657c1
                            call_session_id:
                              type: string
                              description: ID that is unique to the call session and
                                can be used to correlate webhook events.
                              example: 428c31b6-abf3-3bc1-b7f4-5013ef9657c1
                            client_state:
                              type: string
                              description: State received from a command.
                              example: aGF2ZSBhIG5pY2UgZGF5ID1d
                            from:
                              type: string
                              description: Number or SIP URI placing the call.
                              example: +35319605860
                            to:
                              type: string
                              description: Destination number or SIP URI of the call.
                              example: +13129457420
                            state:
                              type: string
                              description: State received from a command.
                              example: hangup
                              enum:
                              - hangup
                            hangup_cause:
                              type: string
                              description: "The reason the call was ended (`call_rejected`,\
                                \ `normal_clearing`, `originator_cancel`, `timeout`,\
                                \ `time_limit`, `user_busy`, `not_found` or `unspecified`)."
                              example: call_rejected
                              enum:
                              - call_rejected
                              - normal_clearing
                              - originator_cancel
                              - timeout
                              - time_limit
                              - user_busy
                              - not_found
                              - unspecified
                            hangup_source:
                              type: string
                              description: "The party who ended the call (`callee`,\
                                \ `caller`, `unknown`)."
                              example: caller
                              enum:
                              - caller
                              - callee
                              - unknown
                            sip_hangup_cause:
                              type: string
                              description: The reason the call was ended (SIP response
                                code). If the SIP response is unavailable (in inbound
                                calls for example) this is set to `unspecified`.
                              example: "603"
                      example:
                        record_type: event
                        event_type: call.hangup
                        id: 0ccc7b54-4df3-4bca-a65a-3da1ecc777f0
                        occurred_at: 2018-02-02T22:25:27.521992Z
                        payload:
                          call_control_id: AgDIxmoRX6QMuaIj_uXRXnPAXP0QlNfX
                          connection_id: 7267xxxxxxxxxxxxxx
                          call_leg_id: 428c31b6-7af4-4bcb-b7f5-5013ef9657c1
                          call_session_id: 428c31b6-7af4-4bcb-b7f5-5013ef9657c1
                          client_state: aGF2ZSBhIG5pY2UgZGF5ID1d
                          from: +35319605860
                          to: +35319605860
                          state: hangup
                          hangup_cause: call_rejected
                          hangup_source: caller
                          sip_hangup_cause: "603"
                required: true
              responses:
                "200":
                  description: "The server must return an HTTP 200, otherwise we will\
                    \ reattempt delivery at the failover webhook URL."
        callMachineDetectionEnded:
          '{$request.body#/webhook_url}':
            post:
              requestBody:
                content:
                  application/json:
                    schema:
                      type: object
                      properties:
                        record_type:
                          type: string
                          description: Identifies the type of the resource.
                          example: event
                          enum:
                          - event
                        event_type:
                          type: string
                          description: The type of event being delivered.
                          example: call.machine.detection.ended
                          enum:
                          - call.machine.detection.ended
                        id:
                          type: string
                          description: Identifies the type of resource.
                          format: uuid
                          example: 0ccc7b54-4df3-4bca-a65a-3da1ecc777f0
                        occurred_at:
                          type: string
                          description: ISO 8601 datetime of when the event occurred.
                          format: date-time
                          example: 2018-02-02T22:25:27.521992Z
                        payload:
                          type: object
                          properties:
                            call_control_id:
                              type: string
                              description: Call ID used to issue commands via Call
                                Control API.
                              format: uuid
                            connection_id:
                              type: string
                              description: Telnyx connection ID used in the call.
                              example: 7267xxxxxxxxxxxxxx
                            call_leg_id:
                              type: string
                              description: ID that is unique to the call and can be
                                used to correlate webhook events.
                              example: 428c31b6-7af4-4bcb-b7f5-5013ef9657c1
                            call_session_id:
                              type: string
                              description: ID that is unique to the call session and
                                can be used to correlate webhook events.
                              example: 428c31b6-abf3-3bc1-b7f4-5013ef9657c1
                            client_state:
                              type: string
                              description: State received from a command.
                              example: aGF2ZSBhIG5pY2UgZGF5ID1d
                            from:
                              type: string
                              description: Number or SIP URI placing the call.
                              example: +35319605860
                            to:
                              type: string
                              description: Destination number or SIP URI of the call.
                              example: +13129457420
                            result:
                              type: string
                              description: Answering machine detection result.
                              example: machine
                              enum:
                              - human
                              - machine
                              - not_sure
                      example:
                        record_type: event
                        event_type: call.detection.ended
                        id: 0ccc7b54-4df3-4bca-a65a-3da1ecc777f0
                        occurred_at: 2018-02-02T22:25:27.521992Z
                        payload:
                          connection_id: 7267xxxxxxxxxxxxxx
                          call_leg_id: 428c31b6-7af4-4bcb-b7f5-5013ef9657c1
                          call_session_id: 428c31b6-7af4-4bcb-b7f5-5013ef9657c1
                          client_state: aGF2ZSBhIG5pY2UgZGF5ID1d
                          from: +35319605860
                          to: +35319605860
                          result: human
                required: true
              responses:
                "200":
                  description: "The server must return an HTTP 200, otherwise we will\
                    \ reattempt delivery at the failover webhook URL."
        callMachineGreetingEnded:
          '{$request.body#/webhook_url}':
            post:
              requestBody:
                content:
                  application/json:
                    schema:
                      type: object
                      properties:
                        record_type:
                          type: string
                          description: Identifies the type of the resource.
                          example: event
                          enum:
                          - event
                        event_type:
                          type: string
                          description: The type of event being delivered.
                          example: call.machine.greeting.ended
                          enum:
                          - call.machine.greeting.ended
                        id:
                          type: string
                          description: Identifies the type of resource.
                          format: uuid
                          example: 0ccc7b54-4df3-4bca-a65a-3da1ecc777f0
                        occurred_at:
                          type: string
                          description: ISO 8601 datetime of when the event occurred.
                          format: date-time
                          example: 2018-02-02T22:25:27.521992Z
                        payload:
                          type: object
                          properties:
                            call_control_id:
                              type: string
                              description: Call ID used to issue commands via Call
                                Control API.
                              format: uuid
                            connection_id:
                              type: string
                              description: Telnyx connection ID used in the call.
                              example: 7267xxxxxxxxxxxxxx
                            call_leg_id:
                              type: string
                              description: ID that is unique to the call and can be
                                used to correlate webhook events.
                              example: 428c31b6-7af4-4bcb-b7f5-5013ef9657c1
                            call_session_id:
                              type: string
                              description: ID that is unique to the call session and
                                can be used to correlate webhook events.
                              example: 428c31b6-abf3-3bc1-b7f4-5013ef9657c1
                            client_state:
                              type: string
                              description: State received from a command.
                              example: aGF2ZSBhIG5pY2UgZGF5ID1d
                            from:
                              type: string
                              description: Number or SIP URI placing the call.
                              example: +35319605860
                            to:
                              type: string
                              description: Destination number or SIP URI of the call.
                              example: +13129457420
                            result:
                              type: string
                              description: Answering machine greeting ended result.
                              example: ended
                              enum:
                              - ended
                              - not_sure
                      example:
                        record_type: event
                        event_type: call.machine.greeting.ended
                        id: 0ccc7b54-4df3-4bca-a65a-3da1ecc777f0
                        occurred_at: 2018-02-02T22:25:27.521992Z
                        payload:
                          connection_id: 7267xxxxxxxxxxxxxx
                          call_leg_id: 428c31b6-7af4-4bcb-b7f5-5013ef9657c1
                          call_session_id: 428c31b6-7af4-4bcb-b7f5-5013ef9657c1
                          client_state: aGF2ZSBhIG5pY2UgZGF5ID1d
                          from: +35319605860
                          to: +35319605860
                          result: ended
                required: true
              responses:
                "200":
                  description: "The server must return an HTTP 200, otherwise we will\
                    \ reattempt delivery at the failover webhook URL."
  /calls/{call_control_id}:
    get:
      tags:
      - Call Information
      summary: Retrieve call status
      description: Returns the status of a call.
      operationId: RetrieveCallStatus
      parameters:
      - name: call_control_id
        in: path
        description: Unique identifier and token for controlling the call
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Retrieve call status response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_8'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_default_1'
  /calls/{call_control_id}/actions/answer:
    post:
      tags:
      - Call Commands
      summary: Answer call
      description: |
        Answer an incoming call. You must issue this command before executing subsequent commands on an incoming call.

        **Expected Webhooks:**

        - `call.answered`
      operationId: CallControlAnswer
      parameters:
      - name: call_control_id
        in: path
        description: Unique identifier and token for controlling the call
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: Answer call request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Answer request'
        required: true
      responses:
        "200":
          description: Command response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_9'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_default_1'
      callbacks:
        callAnswered:
          '{$request.body#/webhook_url}':
            post:
              requestBody:
                content:
                  application/json:
                    schema:
                      type: object
                      properties:
                        record_type:
                          type: string
                          description: Identifies the type of the resource.
                          example: event
                          enum:
                          - event
                        event_type:
                          type: string
                          description: The type of event being delivered.
                          example: call.answered
                          enum:
                          - call.answered
                        id:
                          type: string
                          description: Identifies the type of resource.
                          format: uuid
                          example: 0ccc7b54-4df3-4bca-a65a-3da1ecc777f0
                        occurred_at:
                          type: string
                          description: ISO 8601 datetime of when the event occurred.
                          format: date-time
                          example: 2018-02-02T22:25:27.521992Z
                        payload:
                          type: object
                          properties:
                            call_control_id:
                              type: string
                              description: Call ID used to issue commands via Call
                                Control API.
                              format: uuid
                            connection_id:
                              type: string
                              description: Telnyx connection ID used in the call.
                              example: 7267xxxxxxxxxxxxxx
                            call_leg_id:
                              type: string
                              description: ID that is unique to the call and can be
                                used to correlate webhook events.
                              example: 428c31b6-7af4-4bcb-b7f5-5013ef9657c1
                            call_session_id:
                              type: string
                              description: ID that is unique to the call session and
                                can be used to correlate webhook events.
                              example: 428c31b6-abf3-3bc1-b7f4-5013ef9657c1
                            client_state:
                              type: string
                              description: State received from a command.
                              example: aGF2ZSBhIG5pY2UgZGF5ID1d
                            from:
                              type: string
                              description: Number or SIP URI placing the call.
                              example: +35319605860
                            to:
                              type: string
                              description: Destination number or SIP URI of the call.
                              example: +13129457420
                            state:
                              type: string
                              description: State received from a command.
                              example: answered
                              enum:
                              - answered
                      example:
                        record_type: event
                        event_type: call.answered
                        id: 0ccc7b54-4df3-4bca-a65a-3da1ecc777f0
                        occurred_at: 2018-02-02T22:25:27.521992Z
                        payload:
                          call_control_id: AgDIxmoRX6QMuaIj_uXRXnPAXP0QlNfX
                          connection_id: 7267xxxxxxxxxxxxxx
                          call_leg_id: 428c31b6-7af4-4bcb-b7f5-5013ef9657c1
                          call_session_id: 428c31b6-7af4-4bcb-b7f5-5013ef9657c1
                          client_state: aGF2ZSBhIG5pY2UgZGF5ID1d
                          from: +35319605860
                          to: +35319605860
                          state: answered
                required: true
              responses:
                "200":
                  description: "The server must return an HTTP 200, otherwise we will\
                    \ reattempt delivery at the failover webhook URL."
  /calls/{call_control_id}/actions/bridge:
    post:
      tags:
      - Call Commands
      summary: Bridge calls
      description: |
        Bridge two call control calls.

        **Expected Webhooks:**

        - `call.bridged` for Leg A
        - `call.bridged` for Leg B
      operationId: CallControlBridge
      parameters:
      - name: call_control_id
        in: path
        description: Unique identifier and token for controlling the call
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: Bridge call request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Bridge request'
        required: true
      responses:
        "200":
          description: Command response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_9'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_default_1'
      callbacks:
        callBridged:
          '{$request.body#/webhook_url}':
            post:
              requestBody:
                content:
                  application/json:
                    schema:
                      type: object
                      properties:
                        record_type:
                          type: string
                          description: Identifies the type of the resource.
                          example: event
                          enum:
                          - event
                        event_type:
                          type: string
                          description: The type of event being delivered.
                          example: call.bridged
                          enum:
                          - call.bridged
                        id:
                          type: string
                          description: Identifies the type of resource.
                          format: uuid
                          example: 0ccc7b54-4df3-4bca-a65a-3da1ecc777f0
                        occurred_at:
                          type: string
                          description: ISO 8601 datetime of when the event occurred.
                          format: date-time
                          example: 2018-02-02T22:25:27.521992Z
                        payload:
                          type: object
                          properties:
                            call_control_id:
                              type: string
                              description: Call ID used to issue commands via Call
                                Control API.
                              format: uuid
                            connection_id:
                              type: string
                              description: Telnyx connection ID used in the call.
                              example: 7267xxxxxxxxxxxxxx
                            call_leg_id:
                              type: string
                              description: ID that is unique to the call and can be
                                used to correlate webhook events.
                              example: 428c31b6-7af4-4bcb-b7f5-5013ef9657c1
                            call_session_id:
                              type: string
                              description: ID that is unique to the call session and
                                can be used to correlate webhook events.
                              example: 428c31b6-abf3-3bc1-b7f4-5013ef9657c1
                            client_state:
                              type: string
                              description: State received from a command.
                              example: aGF2ZSBhIG5pY2UgZGF5ID1d
                            from:
                              type: string
                              description: Number or SIP URI placing the call.
                              example: +35319605860
                            to:
                              type: string
                              description: Destination number or SIP URI of the call.
                              example: +13129457420
                            state:
                              type: string
                              description: State received from a command.
                              example: bridged
                              enum:
                              - bridged
                      example:
                        record_type: event
                        event_type: call.bridged
                        id: 0ccc7b54-4df3-4bca-a65a-3da1ecc777f0
                        occurred_at: 2018-02-02T22:25:27.521992Z
                        payload:
                          call_control_id: AgDIxmoRX6QMuaIj_uXRXnPAXP0QlNfX
                          connection_id: 7267xxxxxxxxxxxxxx
                          call_leg_id: 428c31b6-7af4-4bcb-b7f5-5013ef9657c1
                          call_session_id: 428c31b6-7af4-4bcb-b7f5-5013ef9657c1
                          client_state: aGF2ZSBhIG5pY2UgZGF5ID1d
                          from: +35319605860
                          to: +35319605860
                          state: bridged
                required: true
              responses:
                "200":
                  description: "The server must return an HTTP 200, otherwise we will\
                    \ reattempt delivery at the failover webhook URL."
  /calls/{call_control_id}/actions/fork_start:
    post:
      tags:
      - Call Commands
      summary: Forking start
      description: "Call forking allows you to stream the media from a call to a specific\
        \ target in realtime. \nThis stream can be used to enable realtime audio analysis\
        \ to support a \nvariety of use cases, including fraud detection, or the creation\
        \ of AI-generated audio responses. \nRequests must specify either the `target`\
        \ attribute or the `rx` and `tx` attributes.\n\n**Expected Webhooks:**\n\n\
        - `call.fork.started`\n- `call.fork.stopped`\n\n**Simple Telnyx RTP Encapsulation\
        \ Protocol (STREP)**\n\n*Note: This header/encapsulation is not used when\
        \ the `rx` and `tx`\nparameters have been specified; it only applies when\
        \ media is forked\nusing the `target` attribute.*\n\nIf the destination for\
        \ forked media is specified using the \"target\"\nattribute, the RTP will\
        \ be encapsulated in an extra Telnyx protocol,\nwhich adds a 24 byte header\
        \ to the RTP payload in each packet. The STREP\nheader includes the Call Control\
        \ `call_leg_id` for stream\nidentification, along with bits that represent\
        \ the direction (inbound or\noutbound) of the media. This 24-byte header sits\
        \ between the UDP header\nand the RTP header.\n\nThe STREP header makes it\
        \ possible to fork RTP for multiple calls (or\ntwo RTP streams for the same\
        \ call) to the same IP:port, where the\nstreams can be demultiplexed by your\
        \ application using the information\nin the header. Of course, it's still\
        \ possible to ignore this header\ncompletely, for example, if sending forked\
        \ media for different calls to\ndifferent ports or IP addresses. In this case,\
        \ simply strip 24 bytes\n(or use the second byte to find the header length)\
        \ from the received UDP\npayload to get the RTP (RTP header and payload).\n\
        \n```\nSTREP Specification\n\n  0                   1                   2\
        \                   3\n  0 1 2 3 4 5 6 7 8 9 0 1 2 3 4 5 6 7 8 9 0 1 2 3 4\
        \ 5 6 7 8 9 0 1\n +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+\n\
        \ |1 1|Version|L|D|    HeaderLen  |  reserved (2 bytes)           |\n +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+\n\
        \ |       reserved (4 bytes, for UDP ports or anything else)      |\n +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+\n\
        \ |               The call_leg_id                                 |\n |  \
        \                 from Call Control                           |\n |      \
        \                 (128 bits / 16 bytes)                   |\n |          \
        \                 (this is binary data)               |\n +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+\n\
        \n 11\n   Static bits 11, always set to 11 to easily distinguish forked media\n\
        \   from RTP (10) and T.38 media (usually 00) and SIP (which begins\n   with\
        \ a capital letter, so begins with bits 01). This is a magic number.\n\n Version\n\
        \   Four bits to indicate the version number of the protocol, starting at\
        \ 0001.\n\n L\n   One bit to represent the leg of the call (A or B).\n   0\
        \ represents the A (first) leg of the call.\n   1 represents the B (second)\
        \ leg of the call.\n\n D\n   One bit to represent the direction of this RTP\
        \ stream.\n   0 represents media received by Telnyx.\n   1 represents media\
        \ transmitted by Telnyx.\n\n HeaderLen (1 byte)\n   The length of the header\
        \ in bytes.\n   Note that this value does not include the length of the payload.\
        \ The total\n   size of the RTP can be calculated by subtracting the HeaderLen\
        \ from the UDP\n   length (minus 8 for the UDP header).\n   In version 1,\
        \ this value will always be 24.\n\n Reserved (6 bytes)\n   Reserved for future\
        \ use and to make sure that the header is a multiple of 32 bits\n\n Call Leg\
        \ ID\n   A 128-bit identifier for the call leg.\n   This is the call_leg_id\
        \ from Call Control.\n```\n"
      operationId: CallControlForkStart
      parameters:
      - name: call_control_id
        in: path
        description: Unique identifier and token for controlling the call
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: Fork media request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Start Forking request'
        required: true
      responses:
        "200":
          description: Command response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_9'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_default_1'
      callbacks:
        callForkStarted:
          '{$request.body#/webhook_url}':
            post:
              requestBody:
                content:
                  application/json:
                    schema:
                      type: object
                      properties:
                        record_type:
                          type: string
                          description: Identifies the type of the resource.
                          example: event
                          enum:
                          - event
                        event_type:
                          type: string
                          description: The type of event being delivered.
                          example: call.fork.started
                          enum:
                          - call.fork.started
                        id:
                          type: string
                          description: Identifies the type of resource.
                          format: uuid
                          example: 0ccc7b54-4df3-4bca-a65a-3da1ecc777f0
                        occurred_at:
                          type: string
                          description: ISO 8601 datetime of when the event occurred.
                          format: date-time
                          example: 2018-02-02T22:25:27.521992Z
                        payload:
                          type: object
                          properties:
                            connection_id:
                              type: string
                              description: Telnyx connection ID used in the call.
                              example: 7267xxxxxxxxxxxxxx
                            call_leg_id:
                              type: string
                              description: ID that is unique to the call and can be
                                used to correlate webhook events.
                              example: 428c31b6-7af4-4bcb-b7f5-5013ef9657c1
                            call_session_id:
                              type: string
                              description: ID that is unique to the call session and
                                can be used to correlate webhook events.
                              example: 428c31b6-abf3-3bc1-b7f4-5013ef9657c1
                      example:
                        record_type: event
                        event_type: call.fork.started
                        id: 0ccc7b54-4df3-4bca-a65a-3da1ecc777f0
                        occurred_at: 2018-02-02T22:25:27.521992Z
                        payload:
                          connection_id: 7267xxxxxxxxxxxxxx
                          call_leg_id: 428c31b6-7af4-4bcb-b7f5-5013ef9657c1
                          call_session_id: 428c31b6-7af4-4bcb-b7f5-5013ef9657c1
                required: true
              responses:
                "200":
                  description: "The server must return an HTTP 200, otherwise we will\
                    \ reattempt delivery at the failover webhook URL."
        callForkStopped:
          '{$request.body#/webhook_url}':
            post:
              requestBody:
                content:
                  application/json:
                    schema:
                      type: object
                      properties:
                        record_type:
                          type: string
                          description: Identifies the type of the resource.
                          example: event
                          enum:
                          - event
                        event_type:
                          type: string
                          description: The type of event being delivered.
                          example: call.fork.stopped
                          enum:
                          - call.fork.stopped
                        id:
                          type: string
                          description: Identifies the type of resource.
                          format: uuid
                          example: 0ccc7b54-4df3-4bca-a65a-3da1ecc777f0
                        occurred_at:
                          type: string
                          description: ISO 8601 datetime of when the event occurred.
                          format: date-time
                          example: 2018-02-02T22:25:27.521992Z
                        payload:
                          type: object
                          properties:
                            connection_id:
                              type: string
                              description: Telnyx connection ID used in the call.
                              example: 7267xxxxxxxxxxxxxx
                            call_leg_id:
                              type: string
                              description: ID that is unique to the call and can be
                                used to correlate webhook events.
                              example: 428c31b6-7af4-4bcb-b7f5-5013ef9657c1
                            call_session_id:
                              type: string
                              description: ID that is unique to the call session and
                                can be used to correlate webhook events.
                              example: 428c31b6-abf3-3bc1-b7f4-5013ef9657c1
                      example:
                        record_type: event
                        event_type: call.fork.stopped
                        id: 0ccc7b54-4df3-4bca-a65a-3da1ecc777f0
                        occurred_at: 2018-02-02T22:25:27.521992Z
                        payload:
                          connection_id: 7267xxxxxxxxxxxxxx
                          call_leg_id: 428c31b6-7af4-4bcb-b7f5-5013ef9657c1
                          call_session_id: 428c31b6-7af4-4bcb-b7f5-5013ef9657c1
                required: true
              responses:
                "200":
                  description: "The server must return an HTTP 200, otherwise we will\
                    \ reattempt delivery at the failover webhook URL."
  /calls/{call_control_id}/actions/fork_stop:
    post:
      tags:
      - Call Commands
      summary: Forking stop
      description: |
        Stop forking a call.

        **Expected Webhooks:**

        - `call.fork.stopped`
      operationId: CallControlForkStop
      parameters:
      - name: call_control_id
        in: path
        description: Unique identifier and token for controlling the call
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: Stop forking media request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Stop Forking request'
        required: true
      responses:
        "200":
          description: Command response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_9'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_default_1'
      callbacks:
        callForkStopped:
          '{$request.body#/webhook_url}':
            post:
              requestBody:
                content:
                  application/json:
                    schema:
                      type: object
                      properties:
                        record_type:
                          type: string
                          description: Identifies the type of the resource.
                          example: event
                          enum:
                          - event
                        event_type:
                          type: string
                          description: The type of event being delivered.
                          example: call.fork.stopped
                          enum:
                          - call.fork.stopped
                        id:
                          type: string
                          description: Identifies the type of resource.
                          format: uuid
                          example: 0ccc7b54-4df3-4bca-a65a-3da1ecc777f0
                        occurred_at:
                          type: string
                          description: ISO 8601 datetime of when the event occurred.
                          format: date-time
                          example: 2018-02-02T22:25:27.521992Z
                        payload:
                          type: object
                          properties:
                            connection_id:
                              type: string
                              description: Telnyx connection ID used in the call.
                              example: 7267xxxxxxxxxxxxxx
                            call_leg_id:
                              type: string
                              description: ID that is unique to the call and can be
                                used to correlate webhook events.
                              example: 428c31b6-7af4-4bcb-b7f5-5013ef9657c1
                            call_session_id:
                              type: string
                              description: ID that is unique to the call session and
                                can be used to correlate webhook events.
                              example: 428c31b6-abf3-3bc1-b7f4-5013ef9657c1
                      example:
                        record_type: event
                        event_type: call.fork.stopped
                        id: 0ccc7b54-4df3-4bca-a65a-3da1ecc777f0
                        occurred_at: 2018-02-02T22:25:27.521992Z
                        payload:
                          connection_id: 7267xxxxxxxxxxxxxx
                          call_leg_id: 428c31b6-7af4-4bcb-b7f5-5013ef9657c1
                          call_session_id: 428c31b6-7af4-4bcb-b7f5-5013ef9657c1
                required: true
              responses:
                "200":
                  description: "The server must return an HTTP 200, otherwise we will\
                    \ reattempt delivery at the failover webhook URL."
  /calls/{call_control_id}/actions/gather_using_audio:
    post:
      tags:
      - Call Commands
      summary: Gather using audio
      description: "Play an audio file on the call until the required DTMF signals\
        \ are gathered to build interactive menus.\n\nYou can pass a list of valid\
        \ digits along with an 'invalid_audio_url', which will be played back at the\
        \ beginning of each prompt. Playback will be interrupted when a DTMF signal\
        \ is received. The [Answer](/docs/api/v2/call-control/Call-Commands#CallControlAnswer)\
        \ command must be issued before the `gather_using_audio` command.\n\n**Expected\
        \ Webhooks:**\n\n- `call.playback.started`\n- `call.playback.ended`\n- `call.dtmf.received`\
        \ (you may receive many of these webhooks)\n- `call.gather.ended`\n"
      operationId: CallControlGatherUsingAudio
      parameters:
      - name: call_control_id
        in: path
        description: Unique identifier and token for controlling the call
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: Gather using audio request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Gather using audio with all parameters request'
        required: true
      responses:
        "200":
          description: Command response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_9'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_default_1'
      callbacks:
        callPlaybackStarted:
          '{$request.body#/webhook_url}':
            post:
              requestBody:
                content:
                  application/json:
                    schema:
                      type: object
                      properties:
                        record_type:
                          type: string
                          description: Identifies the type of the resource.
                          example: event
                          enum:
                          - event
                        event_type:
                          type: string
                          description: The type of event being delivered.
                          example: call.playback.started
                          enum:
                          - call.playback.started
                        id:
                          type: string
                          description: Identifies the type of resource.
                          format: uuid
                          example: 0ccc7b54-4df3-4bca-a65a-3da1ecc777f0
                        occurred_at:
                          type: string
                          description: ISO 8601 datetime of when the event occurred.
                          format: date-time
                          example: 2018-02-02T22:25:27.521992Z
                        payload:
                          type: object
                          properties:
                            call_control_id:
                              type: string
                              description: Call ID used to issue commands via Call
                                Control API.
                              format: uuid
                            connection_id:
                              type: string
                              description: Telnyx connection ID used in the call.
                              example: 7267xxxxxxxxxxxxxx
                            call_leg_id:
                              type: string
                              description: ID that is unique to the call and can be
                                used to correlate webhook events.
                              example: 428c31b6-7af4-4bcb-b7f5-5013ef9657c1
                            call_session_id:
                              type: string
                              description: ID that is unique to the call session and
                                can be used to correlate webhook events.
                              example: 428c31b6-abf3-3bc1-b7f4-5013ef9657c1
                            client_state:
                              type: string
                              description: State received from a command.
                              example: aGF2ZSBhIG5pY2UgZGF5ID1d
                            media_url:
                              type: string
                              description: The audio URL being played back.
                              example: http://example.com/audio.wav
                            overlay:
                              type: boolean
                              description: Whether the audio is going to be played
                                in overlay mode or not.
                              example: false
                      example:
                        record_type: event
                        event_type: call.playback.started
                        id: 0ccc7b54-4df3-4bca-a65a-3da1ecc777f0
                        occurred_at: 2018-02-02T22:25:27.521992Z
                        payload:
                          call_control_id: AgDIxmoRX6QMuaIj_uXRXnPAXP0QlNfX
                          connection_id: 7267xxxxxxxxxxxxxx
                          call_leg_id: 428c31b6-7af4-4bcb-b7f5-5013ef9657c1
                          call_session_id: 428c31b6-7af4-4bcb-b7f5-5013ef9657c1
                          client_state: aGF2ZSBhIG5pY2UgZGF5ID1d
                          media_url: http://example.com/audio.wav
                          overlay: false
                required: true
              responses:
                "200":
                  description: "The server must return an HTTP 200, otherwise we will\
                    \ reattempt delivery at the failover webhook URL."
        callPlaybackEnded:
          '{$request.body#/webhook_url}':
            post:
              requestBody:
                content:
                  application/json:
                    schema:
                      type: object
                      properties:
                        record_type:
                          type: string
                          description: Identifies the type of the resource.
                          example: event
                          enum:
                          - event
                        event_type:
                          type: string
                          description: The type of event being delivered.
                          example: call.playback.ended
                          enum:
                          - call.playback.ended
                        id:
                          type: string
                          description: Identifies the type of resource.
                          format: uuid
                          example: 0ccc7b54-4df3-4bca-a65a-3da1ecc777f0
                        occurred_at:
                          type: string
                          description: ISO 8601 datetime of when the event occurred.
                          format: date-time
                          example: 2018-02-02T22:25:27.521992Z
                        payload:
                          type: object
                          properties:
                            call_control_id:
                              type: string
                              description: Call ID used to issue commands via Call
                                Control API.
                              format: uuid
                            connection_id:
                              type: string
                              description: Telnyx connection ID used in the call.
                              example: 7267xxxxxxxxxxxxxx
                            call_leg_id:
                              type: string
                              description: ID that is unique to the call and can be
                                used to correlate webhook events.
                              example: 428c31b6-7af4-4bcb-b7f5-5013ef9657c1
                            call_session_id:
                              type: string
                              description: ID that is unique to the call session and
                                can be used to correlate webhook events.
                              example: 428c31b6-abf3-3bc1-b7f4-5013ef9657c1
                            client_state:
                              type: string
                              description: State received from a command.
                              example: aGF2ZSBhIG5pY2UgZGF5ID1d
                            media_url:
                              type: string
                              description: The audio URL being played back.
                              example: http://example.com/audio.wav
                            overlay:
                              type: boolean
                              description: Whether the audio is going to be played
                                in overlay mode or not.
                              example: false
                            status:
                              type: string
                              description: Reflects how command ended.
                              example: valid
                              enum:
                              - valid
                              - invalid
                              - call_hangup
                      example:
                        record_type: event
                        event_type: call.playback.ended
                        id: 0ccc7b54-4df3-4bca-a65a-3da1ecc777f0
                        occurred_at: 2018-02-02T22:25:27.521992Z
                        payload:
                          call_control_id: AgDIxmoRX6QMuaIj_uXRXnPAXP0QlNfX
                          connection_id: 7267xxxxxxxxxxxxxx
                          call_leg_id: 428c31b6-7af4-4bcb-b7f5-5013ef9657c1
                          call_session_id: 428c31b6-7af4-4bcb-b7f5-5013ef9657c1
                          client_state: aGF2ZSBhIG5pY2UgZGF5ID1d
                          media_url: http://example.com/audio.wav
                          overlay: false
                          status: valid
                required: true
              responses:
                "200":
                  description: "The server must return an HTTP 200, otherwise we will\
                    \ reattempt delivery at the failover webhook URL."
        callDtmfReceived:
          '{$request.body#/webhook_url}':
            post:
              requestBody:
                content:
                  application/json:
                    schema:
                      type: object
                      properties:
                        record_type:
                          type: string
                          description: Identifies the type of the resource.
                          example: event
                          enum:
                          - event
                        event_type:
                          type: string
                          description: The type of event being delivered.
                          example: call.dtmf.received
                          enum:
                          - call.dtmf.received
                        id:
                          type: string
                          description: Identifies the type of resource.
                          format: uuid
                          example: 0ccc7b54-4df3-4bca-a65a-3da1ecc777f0
                        occurred_at:
                          type: string
                          description: ISO 8601 datetime of when the event occurred.
                          format: date-time
                          example: 2018-02-02T22:25:27.521992Z
                        payload:
                          type: object
                          properties:
                            call_control_id:
                              type: string
                              description: Call ID used to issue commands via Call
                                Control API.
                              format: uuid
                            connection_id:
                              type: string
                              description: Identifies the type of resource.
                              example: 7267xxxxxxxxxxxxxx
                            call_leg_id:
                              type: string
                              description: ID that is unique to the call and can be
                                used to correlate webhook events.
                              example: 428c31b6-7af4-4bcb-b7f5-5013ef9657c1
                            call_session_id:
                              type: string
                              description: ID that is unique to the call session and
                                can be used to correlate webhook events.
                              example: 428c31b6-abf3-3bc1-b7f4-5013ef9657c1
                            client_state:
                              type: string
                              description: State received from a command.
                              example: aGF2ZSBhIG5pY2UgZGF5ID1d
                            from:
                              type: string
                              description: Number or SIP URI placing the call.
                              example: +35319605860
                            to:
                              type: string
                              description: Destination number or SIP URI of the call.
                              example: +13129457420
                            digit:
                              type: string
                              description: The received DTMF digit or symbol.
                              example: '#'
                      example:
                        record_type: event
                        event_type: call.dtmf.received
                        id: 0ccc7b54-4df3-4bca-a65a-3da1ecc777f0
                        occurred_at: 2018-02-02T22:25:27.521992Z
                        payload:
                          call_control_id: AgDIxmoRX6QMuaIj_uXRXnPAXP0QlNfX
                          connection_id: 7267xxxxxxxxxxxxxx
                          call_leg_id: 428c31b6-7af4-4bcb-b7f5-5013ef9657c1
                          call_session_id: 428c31b6-7af4-4bcb-b7f5-5013ef9657c1
                          client_state: aGF2ZSBhIG5pY2UgZGF5ID1d
                          from: +35319605860
                          to: +35319605860
                          digit: '#'
                required: true
              responses:
                "200":
                  description: "The server must return an HTTP 200, otherwise we will\
                    \ reattempt delivery at the failover webhook URL."
        callGatherEnded:
          '{$request.body#/webhook_url}':
            post:
              requestBody:
                content:
                  application/json:
                    schema:
                      type: object
                      properties:
                        record_type:
                          type: string
                          description: Identifies the type of the resource.
                          example: event
                          enum:
                          - event
                        event_type:
                          type: string
                          description: The type of event being delivered.
                          example: call.gather.ended
                          enum:
                          - call.gather.ended
                        id:
                          type: string
                          description: Identifies the type of resource.
                          format: uuid
                          example: 0ccc7b54-4df3-4bca-a65a-3da1ecc777f0
                        occurred_at:
                          type: string
                          description: ISO 8601 datetime of when the event occurred.
                          format: date-time
                          example: 2018-02-02T22:25:27.521992Z
                        payload:
                          type: object
                          properties:
                            call_control_id:
                              type: string
                              description: Call ID used to issue commands via Call
                                Control API.
                              format: uuid
                            connection_id:
                              type: string
                              description: Telnyx connection ID used in the call.
                              example: 7267xxxxxxxxxxxxxx
                            call_leg_id:
                              type: string
                              description: ID that is unique to the call and can be
                                used to correlate webhook events.
                              example: 428c31b6-7af4-4bcb-b7f5-5013ef9657c1
                            call_session_id:
                              type: string
                              description: ID that is unique to the call session and
                                can be used to correlate webhook events.
                              example: 428c31b6-abf3-3bc1-b7f4-5013ef9657c1
                            client_state:
                              type: string
                              description: State received from a command.
                              example: aGF2ZSBhIG5pY2UgZGF5ID1d
                            from:
                              type: string
                              description: Number or SIP URI placing the call.
                              example: +35319605860
                            to:
                              type: string
                              description: Destination number or SIP URI of the call.
                              example: +13129457420
                            digits:
                              type: string
                              description: The received DTMF digit or symbol.
                              example: "5503"
                            status:
                              type: string
                              description: Reflects how command ended.
[...]
